<link rel="import" href="../app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../app-layout/app-header/app-header.html">
<link rel="import" href="../app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-tabs/paper-tabs.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-menu/paper-menu.html">
<link rel="import" href="../app-route/app-location.html">
<link rel="import" href="../app-route/app-route.html">
<link rel="import" href="../iron-pages/iron-pages.html">
<link rel="import" href="../paper-material/paper-material.html">

<link rel="import" href="../guild-view/train-page.html">
<link rel="import" href="../guild-view/compare-page.html">

<dom-module id="guild-view">
  <template>
    <style>
     :root {
         --text-color: #5e5e5e;
     }
     app-toolbar {
         background-color: #f8f8f8;
         color: var(--text-color);
         border-bottom: 0.8px solid #e7e7e7;
     }
     paper-tabs {
         color: var(--text-color);
         margin-left: 20px;
         font-size: 14px;
         --paper-tabs-selection-bar-color: var(--text-color);
     }
     paper-tab {
         --paper-tab-ink: #ccc;
     }
     .placeholder {
         margin: 24px;
         padding: 16px;
         background-color: #fff;
         box-shadow:
           0 2px 2px 0 rgba(0, 0, 0, 0.14),
           0 1px 5px 0 rgba(0, 0, 0, 0.12),
           0 3px 1px -2px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
     }
     app-toolbar a {
         text-decoration: none;
         color: var(--text-color);
     }
    </style>

    <app-location route="{{route}}"></app-location>
    <app-route
        route="{{route}}"
        pattern="/:id"
        data="{{page}}"
        tail="{{routeTail}}"></app-route>

    <app-drawer-layout narrow="{{narrow}}">
      <app-drawer id="drawer" hidden$="[[!narrow]]">
        <paper-menu selected="{{page.id}}" attr-for-selected="page">
          <template is="dom-repeat" items="[[pages]]">
            <paper-item page="[[item.id]]" on-tap="closeDrawer">[[item.label]]</paper-item>
          </template>
        </paper-menu>
      </app-drawer>

      <app-header-layout>
        <app-header reveals>
          <app-toolbar>
            <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
            <div><a href="/">Guild View</a></div>
            <paper-tabs hidden$="[[narrow]]" selected="{{page.id}}" attr-for-selected="page">
              <template is="dom-repeat" items="[[pages]]">
                <paper-tab page="[[item.id]]">[[item.label]]</paper-tab>
              </template>
            </paper-tabs>
          </app-toolbar>
        </app-header>
      </app-header-layout>

        <div class="placeholder">
          page.id: [[page.id]]<br>
          routeTail.path: [[routeTail.path]]
        </div>

        <iron-pages
            selected="[[page.id]][[routeTail.path]]"
            attr-for-selected="page"
            fallback-selection="404"
            role="main">
          <div page="" class="placeholder">Redirecting</div>
          <train-page page="train"></train-page>
          <compare-page page="compare"></compare-page>
          <div page="404" class="placeholder">Whoops - can't find that one yo</div>
        </iron-pages>

    </app-drawer-layout>

  </template>

  <script>
    Polymer({
        is: 'guild-view',

        properties: {
            route: String,
            page: Object,
            narrow: Boolean,
            routeTail: Object,
            pages: {
                type: Array,
                value: [
                    {
                        id: "train",
                        label: "Train"
                    },
                    {
                        id: "compare",
                        label: "Compare"
                    }
                ]
            }
        },

        observers: [
            'pageChanged(page.id)'
        ],

        pageChanged: function(id, old) {
            this.TEMP_log_double_dispatch_bug(id, old);
            if (id == "") {
                this.redirectToDefaultPage();
            } else {
                this.resetPage();
            }
        },

        TEMP_log_double_dispatch_bug: function(id, old) {
            // BUG: This function is called twice, see:
            // https://github.com/PolymerElements/app-route/issues/129
            // This isn't a critical problem but leaving debug output below
            // to track this and resolve it at some point.
            console.debug(
                "TODO: resolve double-dispatch - see "
                + "https://github.com/PolymerElements/app-route/issues/129");
            console.debug(
                "page.id changed to " + JSON.stringify(id)
                + " from " + JSON.stringify(old));

        },

        redirectToDefaultPage: function() {
            window.location = "/" + this.pages[0].id;
        },

        resetPage: function() {
            document.body.scrollTop = document.documentElement.scrollTop = 0;
        },

        closeDrawer: function() {
            this.$.drawer.close();
        }
    });
  </script>
</dom-module>
