<link rel="import" href="../guild-styles/guild-styles.html">

<script src="generate.js"></script>

<dom-module id="guild-view-page">
  <template>
    <style include="guild-spacing-styles"></style>
  </template>

  <script>
   Polymer({
       is: 'guild-view-page',

       properties: {
           page: Object,
           env: Object,
           generated: {
               type: Boolean,
               value: false
           }
       },

       ensureGenerated: function() {
           if (!this.generated) {
               if (this.page.layout) {
                   var state = {
                       env: this.env,
                       page: this
                   };
                   Guild.Generate.generate(this.root, this.page.layout, state);
               }
               this.generated = true;
           }
       }
   });
  </script>
</dom-module>
