<link rel="import" href="../app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../app-layout/app-header/app-header.html">
<link rel="import" href="../app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-icons/image-icons.html">
<link rel="import" href="../iron-icons/av-icons.html">
<link rel="import" href="../paper-tabs/paper-tabs.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-menu/paper-menu.html">
<link rel="import" href="../app-route/app-location.html">
<link rel="import" href="../app-route/app-route.html">
<link rel="import" href="../iron-pages/iron-pages.html">
<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../guild-view/train-page.html">
<link rel="import" href="../guild-view/compare-page.html">
<link rel="import" href="../guild-view/explore-page.html">
<link rel="import" href="../guild-view/page-info.html">
<link rel="import" href="../guild-modal-message/guild-modal-message.html">
<link rel="import" href="../guild-view/404-page.html">

<dom-module id="guild-view">
  <template>
    <style>
     :root {
         --toolbar-text-color: #5e5e5e;
     }
     app-toolbar {
         background-color: #f8f8f8;
         color: var(--toolbar-text-color);
         border-bottom: 0.8px solid #e7e7e7;
     }
     paper-tabs {
         color: var(--toolbar-text-color);
         margin-left: 20px;
         font-size: 14px;
         --paper-tabs-selection-bar-color: var(--toolbar-text-color);
     }
     paper-tab {
         --paper-tab-ink: #ccc;
     }
     .tab-icon,
     .menu-icon {
         --iron-icon-width: 24px;
         --iron-icon-height: auto;
         margin-right: 5px;
     }
     app-toolbar a {
         text-decoration: none;
         color: var(--toolbar-text-color);
     }
    </style>

    <app-location route="{{route}}"></app-location>
    <app-route
        route="{{route}}"
        pattern="/:id"
        data="{{page}}"
        tail="{{routeTail}}"></app-route>

    <app-drawer-layout narrow="{{narrow}}">
      <app-drawer id="drawer" hidden$="[[!narrow]]">
        <paper-menu selected="{{page.id}}" attr-for-selected="page">
          <template is="dom-repeat" items="[[pages]]">
            <paper-item page="[[item.id]]" on-tap="closeDrawer">
              <iron-icon class="menu-icon" icon="[[item.icon]]"></iron-icon>
              [[item.label]]
            </paper-item>
          </template>
        </paper-menu>
      </app-drawer>

      <app-header-layout>
        <app-header reveals>
          <app-toolbar>
            <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
            <div><a href="/">Guild View</a></div>
            <paper-tabs hidden$="[[narrow]]" selected="{{page.id}}" attr-for-selected="page">
              <template is="dom-repeat" items="[[pages]]">
                <paper-tab page="[[item.id]]">
                  <iron-icon class="tab-icon" icon="[[item.icon]]"></iron-icon>
                  [[item.label]]
                </paper-tab>
              </template>
            </paper-tabs>
          </app-toolbar>
        </app-header>

        <iron-pages
            selected="[[page.id]][[routeTail.path]]"
            attr-for-selected="page"
            fallback-selection="404"
            role="main">
          <div page=""></div>
          <guild-view-train-page page="overview"></guild-view-train-page>
          <guild-view-compare-page page="compare"></guild-view-compare-page>
          <guild-view-explore-page page="explore"></guild-view-explore-page>
          <guild-view-404-page page="404" path="[[route.path]]"></guild-view-404-page>
        </iron-pages>

      </app-header-layout>
    </app-drawer-layout>

    <guild-modal-message id="redirecting">Redirecting to [[page1]]</guild-modal-message>
  </template>

  <script>
    Polymer({
        is: 'guild-view',
        properties: {
            view: {
                type: Object,
                value: this
            },
            route: String,
            page: Object,
            narrow: Boolean,
            routeTail: Object,
            pages: {
                type: Array,
                value: [
                    {
                        id: "overview",
                        label: "Overview",
                        icon: "icons:dashboard"
                    },
                    {
                        id: "compare",
                        label: "Compare",
                        icon: "icons:view-list"
                    },
                    {
                        id: "explore",
                        label: "Explore",
                        icon: "icons:pageview"
                    }
                ]
            },
            pageInfo: {
                type: Object,
                computed: 'computePageInfo(page, routeTail, route)'
            },
            page1: {
                type: String,
                computed: 'computePage1(pages)'
            }
        },

        computePageInfo: function(page, routeTail, route) {
            return {
                page: page,
                routeTail: routeTail,
                route: route
            }
        },

        computePage1: function(pages) {
            return this.pages[0].label;
        },

        observers: [
            'pageChanged(page.id)'
        ],

        pageChanged: function(id, old) {
            this.TEMP_log_double_dispatch_bug(id, old);
            if (id == "") {
                this.redirectToDefaultPage();
            } else {
                this.resetPage();
            }
        },

        TEMP_log_double_dispatch_bug: function(id, old) {
            // BUG: This function is called twice, see:
            // https://github.com/PolymerElements/app-route/issues/129
            // This isn't a critical problem but leaving debug output below
            // to track this and resolve it at some point.
            console.debug(
                "TODO: resolve double-dispatch - see "
                + "https://github.com/PolymerElements/app-route/issues/129");
            console.debug(
                "page.id changed to " + JSON.stringify(id)
                + " from " + JSON.stringify(old));

        },

        redirectToDefaultPage: function() {
            this.$.redirecting.open();
            window.location = "/" + this.pages[0].id;
        },

        resetPage: function() {
            document.body.scrollTop = document.documentElement.scrollTop = 0;
        },

        closeDrawer: function() {
            this.$.drawer.close();
        }
    });
  </script>
</dom-module>
