<link rel="import" href="../paper-dialog/paper-dialog.html">

<<dom-module id="modal-message">
  <template>
    <style>
     #dialog {
         padding: 20px 40px;
     }
    </style>
    <paper-dialog id="dialog" modal>
      <content></content>
    </paper-dialog>
  </template>
  <script>
   Polymer({
       is: "modal-message",

       properties: {
           contentHTML: {
               type: String,
               observer: 'contentHTMLSet'
           }
       },

       contentHTMLSet: function(val) {
           this.$.dialog.innerHTML = val;
       },

       open: function() {
           this.$.dialog.open();
       }
   });
  </script>
</dom-module>
