<dom-module id="guild-view-page-info">

  <template>
    <style>
     :root {
         background-color: #fff;
         margin: 12px;
         @apply(--shadow-elevation-2dp);
     }
     #header {
         font-size: 14px;
         padding: 5px 10px;
         color: white;
         background-color: var(--paper-light-blue-500);
     }
     #content {
         padding: 20px;
     }
     table tr {
         text-align: right;
     }
     table td {
         text-align: left;
         padding-left: 20px;
     }
    </style>

    <div>
      <div id="header">Page info</div>
      <div id="content">
        <table>
          <tr><th>page.id</th><td>[[info.page.id]]</td></tr>
          <tr><th>route.prefix</th><td>[[info.route.prefix]]</td></tr>
          <tr><th>route.path</th><td>[[info.route.path]]</td></tr>
          <template is="dom-repeat" items="[[routeQueryParams(info.route)]]">
            <tr><th>route.param "[[item.name]]"</th><td>[[item.value]]</td></tr>
          </template>
          <tr><th>routeTail.path</th><td>[[info.routeTail.path]]</td></tr>
        </table>
      </div>
    </div>
  </template>

  <script>
    Polymer({
        is: 'guild-view-page-info',
        properties: {
            info: Object
        },
        routeQueryParams: function(route) {
            var params = route.__queryParams;
            return Object.keys(params).map(function(name) {
                return {
                    name: name,
                    value: params[name]
                };
            });
        }
    });
  </script>
</dom-module>
