<link rel="import" href="../guild-page-header/guild-page-header.html">
<link rel="import" href="../guild-field/guild-fields.html">
<link rel="import" href="../guild-chart/guild-charts.html">
<link rel="import" href="../guild-status/guild-status.html">
<link rel="import" href="../guild-flags/guild-flags.html">
<link rel="import" href="../guild-attrs/guild-attrs.html">

<dom-module id="guild-view-train-page">
  <template>
    <style>
    </style>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <guild-page-header></guild-page-header>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <guild-fields></guild-fields>
          <guild-charts></guild-charts>
          <guild-charts secondary></guild-charts>
        </div>
        <div class="col-md-3">
          <guild-status></guild-status>
          <guild-flags></guild-flags>
          <guild-attrs></guild-attrs>
        </div>
      </div>
    </div>
  </template>

  <script>
    Polymer({
        is: 'guild-view-train-page'
    });
  </script>
</dom-module>
