%%-*-erlang-*-
{navbar,
 [
  {link,
   [{label, "Train"},
    {icon,  "dashboard"},
    {view,  "train"}
   ]},
  {link,
   [{label, "Evaluate"},
    {icon,  "tasks"},
    {view,  "evaluate"}
   ]},
  {link,
   [{label, "Serve"},
    {icon,  "cloud-upload"},
    {view,  "serve"}
   ]}
 ]}.

{view, "train",
 [{row,
   [{col, [{class, "col-md-12"}],
     [{widget, "page-header", [runs_select]}]}
   ]},
  {row,
   [{col, [{class, "col-md-9"}],
     [{row,
       [
        {% for field in fields %}
        {% if not forloop.first %},{% endif %}
        {col, [{class, "col-md-3 col-sm-6"}],
         [{widget, "value-panel",
           [{color,   "{{field.color|default:'grey'}}"},
            {icon,    "{{field.icon}}"},
            {caption, "{{field.caption|default:field.name}}"},
            {source,  "{{field.source}}"},
            {reduce,  "{{field.reduce}}"},
            {format,  "{{field.format}}"}
           ]}
         ]}
         {% endfor %}
       ]
      },
      {row,
       [{col, [{class, "col-md-12"}],
         [{widget, "timeseries",
           [{title, "Accuracy"},
            {label, "% Predicted"},
            {format, "0.00%"},
            {source, "series/tf/.*/accuracy"}
           ]}
         ]
        },
        {col, [{class, "col-md-12"}],
         [{widget, "timeseries",
           [{title, "Loss"},
            {label, "Cross Entropy"},
            {format, "0.000"},
            {source, "series/tf/.*/cross entropy"}
           ]}
         ]
        },
        {col, [{class, "col-md-6"}],
         [{widget, "timeseries",
           [{title, "GPU Memory"},
            {label, "Memory"},
            {format, "0.0 b"},
            {source, "series/sys/gpu.*/mem/used"}
           ]}
         ]},
        {col, [{class, "col-md-6"}],
         [{widget, "timeseries",
           [{title, "GPU % Util"},
            {label, "GPU % Util"},
            {format, "%"},
            {source, "series/sys/gpu.*/util"}
           ]}
         ]},
        {col, [{class, "col-md-6"}],
         [{widget, "timeseries",
           [{title, "Process CPU Memory"},
            {label, "Memory (RSS)"},
            {format, "0.0 b"},
            {source, "series/op/mem/rss"}
           ]}
         ]},
        {col, [{class, "col-md-6"}],
         [{widget, "timeseries",
           [{title, "Process CPU % Util"},
            {label, "CPU % Util"},
            {format, "%"},
            {source, "series/op/cpu/util"}
           ]}
         ]},
        {col, [{class, "col-md-6"}],
         [{widget, "timeseries",
           [{title, "System CPU % Util"},
            {label, "CPU % Util"},
            {format, "%"},
            {source, "series/sys/cpu.*/util"}
           ]}
         ]},
        {col, [{class, "col-md-6"}],
         [
          {widget, "timeseries",
           [{title,  "Disk Util"},
            {label,  "Disk % Util"},
            {format, "%"},
            {source, "series/sys/dev.*/util"}
           ]}
         ]}
       ]},
      {row,
       [{col, [{class, "col-md-12"}],
         [{widget, "output", []}
         ]}
       ]}
     ]},
    {col, [{class, "col-md-3"}],
     [{widget, "status", []},
      {widget, "flags", []}
     ]}
   ]}
 ]}.

{view, "evaluate",
 [{row,
   [{col, [{class, "col-md-12"}],
     [{widget, "page-header", []}]}
   ]},
  {row,
   [{col, [{class, "col-md-12"}],
     [{widget, "compare-table",
       [{columns,
         [
          [{title, "Test Accuracy"},
           {source, "series/tf/test/accuracy"},
           {reduce, "last"},
           {format, "0.00%"}],

          [{title, "Train Accuracy"},
           {source, "series/tf/train/accuracy"},
           {reduce, "last"},
           {format, "0.00%"}],

          [{title, "Time"},
           {source, "series/tf/train/accuracy"},
           {reduce, "duration"},
           {format, "00:00:00"}],

          [{title, "Learning Rate"},
           {source, "flags"},
           {attribute, "learning_rate"}],

          [{title, "Steps"},
           {source, "series/tf/train/accuracy"},
           {reduce, "steps0"}],

          [{title, "Max Steps"},
           {source, "flags"},
           {attribute, "max_steps"}],

          [{title, "Dropout"},
           {source, "flags"},
           {attribute, "dropout"}]
         ]}
       ]}
     ]}
   ]}
 ]}.

{view, "serve", []}.
 %% [{row,
 %%   [{col, [{class, "col-md-12"}],
 %%     [{widget, "page-header", []}]}
 %%   ]}]}.
