%%-*-erlang-*-

{"tf-accuracy",
 [{color,     "green-700"},
  {icon,      "accuracy"},
  {title,     "Test Accuracy"},
  {source,    "series/tf/test/accuracy"},
  {reduce,    "last"},
  {format,    "0.00%"}
 ]}.

{"tf-test-accuracy",
 [{color,     "green-700"},
  {icon,      "accuracy"},
  {title,     "Test Accuracy"},
  {source,    "series/tf/test/accuracy"},
  {reduce,    "last"},
  {format,    "0.00%"}
 ]}.

{"tf-train-accuracy",
 [{color,     "teal-300"},
  {icon,      "accuracy"},
  {title,     "Training Accuracy"},
  {source,    "series/tf/train/accuracy"},
  {reduce,    "last"},
  {format,    "0.00%"}
 ]}.

{"tf-loss",
 [{color,     "red-700"},
  {icon,      "loss"},
  {title,     "Loss"},
  {source,    "series/tf/train/loss"},
  {reduce,    "last"},
  {format,    "0.00"}
 ]}.

{"tf-steps",
 [{color,     "blue-700"},
  {icon,      "steps"},
  {title,     "Steps"},
  {source,    "series/tf/train/accuracy"},
  {reduce,    "steps0"},
  {format,    "0,0"}
 ]}.

{"tf-time",
 [{color,     "yellow-700"},
  {icon,      "time"},
  {title,     "Time"},
  {source,    "series/tf/train/accuracy"},
  {reduce,    "duration"},
  {format,    "00:00:00"}
 ]}.

{"flag-learning-rate",
 [{title,     "Learning Rate"},
  {source,    "flags"},
  {attribute, "learning_rate"}
 ]}.

{"flag-max-steps",
 [{title,     "Max Steps"},
  {source,    "flags"},
  {attribute, "max_steps"}
 ]}.

{"flag-dropout",
 [{title,     "Dropout"},
  {source,    "flags"},
  {attribute, "dropout"}
 ]}.

{"flag-batch-size",
 [{title,     "Batch Size"},
  {source,    "flags"},
  {attribute, "batch_size"}
 ]}.

{"flag-gpus",
 [{title,     "GPUs"},
  {source,    "flags"},
  {attribute, "num_gpus"}
 ]}.
