%% -*-erlang-*-

{"tf-accuracy",
 [{title,  "Accuracy"},
  {label,  "% Predicted"},
  {format, "0.00%"},
  {source, "series/tf/[^/]+/accuracy"}
 ]}.

{"tf-loss",
 [{title,  "Loss"},
  {label,  "Loss"},
  {format, "0.000"},
  {source, "series/tf/[^/]+/loss"}
 ]}.

{"tf-learning-rate",
 [{title,  "Learning Rate"},
  {label,  ""},
  {format, "0.0"},
  {source, "series/tf/[^/]+/learning_rate"}
 ]}.

{"gpu-memory",
 [{title,  "GPU Memory"},
  {label,  "Memory"},
  {format, "0.0 b"},
  {source, "series/sys/gpu[^/]*/mem/used"}
 ]}.

{"gpu-percent",
 [{title,  "GPU % Util"},
  {label,  "GPU % Util"},
  {format, "%"},
  {source, "series/sys/gpu[^/]*/gpu/util"}
 ]}.

{"gpu-temp",
 [{title,  "GPU Temp"},
  {label,  "Degress C"},
  {format, "0.0"},
  {source, "series/sys/gpu[^/]*/temp"}
 ]}.

{"gpu-powerdraw",
 [{title,  "GPU Power Draw"},
  {label,  "Watts"},
  {format, "0.0"},
  {source, "series/sys/gpu[^/]*/powerdraw"}
 ]}.

{"op-memory",
 [{title,  "Process CPU Memory"},
  {label,  "Memory (RSS)"},
  {format, "0.0 b"},
  {source, "series/op/mem/rss"}
 ]}.

{"op-cpu-percent",
 [{title,  "Process CPU % Util"},
  {label,  "CPU % Util"},
  {format, "%"},
  {source, "series/op/cpu/util"}
 ]}.

{"cpu-percent",
 [{title,  "System CPU % Util"},
  {label,  "CPU % Util"},
  {format, "%"},
  {source, "series/sys/cpu[^/]*/util"}
 ]}.

{"device-percent",
 [{title,  "Disk Util"},
  {label,  "Disk % Util"},
  {format, "%"},
  {source, "series/sys/dev[^/]*/util"}
 ]}.
