%%-*-erlang-*-

{"tf-test-accuracy",
 [{color,   "green"},
  {icon,    "accuracy"},
  {caption, "Test Accuracy"},
  {source,  "series/tf/test/accuracy"},
  {reduce,  "last"},
  {format,  "0.00%"}
 ]}.

{"tf-train-accuracy",
 [{color,   "green-300"},
  {icon,    "accuracy"},
  {caption, "Training Accuracy"},
  {source,  "series/tf/train/accuracy"},
  {reduce,  "last"},
  {format,  "0.00%"}
 ]}.

{"tf-steps",
 [{color,   "blue-600"},
  {icon,    "steps"},
  {caption, "Steps"},
  {source,  "series/tf/train/accuracy"},
  {reduce,  "steps0"},
  {format,  "0"}
 ]}.

{"tf-time",
 [{color,   "yellow-600"},
  {icon,    "time"},
  {caption, "Time"},
  {source,  "series/tf/train/accuracy"},
  {reduce,  "duration"},
  {format,  "00:00:00"}
 ]}.
