%%-*-erlang-*-
{navbar,
 [
  {link,
   [{label, "Train"},
    {icon,  "steps"},
    {view,  "train"}
   ]},
  {link,
   [{label, "Compare"},
    {icon,  "table"},
    {view,  "compare"}
   ]},
  {link,
   [{label, "Serve"},
    {icon,  "upload"},
    {view,  "serve"}]}
 ]}.

{view, "train",
 [{row,
   [{col, [{class, "col-md-12"}],
     [{widget, "page-header", [runs_select]}]}
   ]},
  {row,
   [{col, [{class, "col-md-9"}],
     [{row,
       [
        {% for field in fields %}
        {% if not forloop.first %},{% endif %}
        {col, [{class, "{{field|field_class:fields}}"}],
         [{widget, "value-panel",
           [{color,     "{{field.color|default:'grey'}}"},
            {icon,      "{{field.icon}}"},
            {label,     "{{field.label|default:field.name}}"},
            {source,    "{{field.source}}"},
            {attribute, "{{field.attribute}}"},
            {reduce,    "{{field.reduce}}"},
            {format,    "{{field.format}}"}
           ]}
         ]}
         {% endfor %}
       ]
      }
      {% if series_a %}
      ,{row,
       [
        {% for series in series_a %}
        {% if not forloop.first %},{% endif %}
        {col, [{class, "{{series.colclass|default:'col-md-12'}}"}],
         [{widget, "timeseries",
           [{title, "{{series.title|default:series.name}}"},
            {label, "{{series.label}}"},
            {format, "{{series.format}}"},
            {source, "{{series.source}}"}
           ]}
         ]}
        {% endfor %}
       ]}
      {% endif %}
      {% if series_b %}
      ,{row,
       [
        {% for series in series_b %}
        {% if not forloop.first %},{% endif %}
        {col, [{class, "{{series.colclass|default:'col-md-6'}}"}],
         [{widget, "timeseries",
           [{title, "{{series.title|default:series.name}}"},
            {label, "{{series.label}}"},
            {format, "{{series.format}}"},
            {source, "{{series.source}}"}
           ]}
         ]}
        {% endfor %}
       ]}
      {% endif %}
      ,{row,
       [{col, [{class, "col-md-12"}],
         [{widget, "output", []}
         ]}
       ]}
     ]},
    {col, [{class, "col-md-3"}],
     [{widget, "status", []},
      {widget, "flags", []},
      {widget, "attrs", []}
     ]}
   ]}
 ]}.

{view, "compare",
 [{row,
   [{col, [{class, "col-md-12"}],
     [{widget, "page-header", []}]}
   ]},
  {row,
   [{col, [{class, "col-md-12"}],
     [{widget, "compare-table",
       [{columns,
         [
          {% for field in compare_fields %}
          {% if not forloop.first %},{% endif %}
            [{title, "{{field.label|default:field.name}}"},
             {sources, "{{field.sources|join:','}}"},
             {reduce, "{{field.reduce}}"},
             {attribute, "{{field.attribute}}"},
             {format, "{{field.format}}"}]
          {% endfor %}
         ]}
       ]}
     ]}
   ]}
 ]}.

{view, "serve",
 [{row,
   [{col, [{class, "col-md-12"}],
     [{widget, "page-header", [runs_select]}]}
   ]},
  {row,
   [{col, [{class, "col-md-12"}],
     [{row,
       [{col, [{class, "col-md-3"}],
         [{widget, "value-panel",
           [{label, "Last run time"},
            {tooltip, "Time to run the last batch in milliseconds"},
            {icon, "bolt"},
            {color, "green-700"},
            {source, "/model/stats"},
            {attribute, "last_batch_time_ms"},
            {format, "0,0.00 ms"}]}
         ]},
        {col, [{class, "col-md-3"}],
         [{widget, "value-panel",
           [{label, "Average run time"},
            {tooltip, "Average time to run a batch in milliseconds"},
            {icon, "bolt"},
            {color, "teal-300"},
            {source, "/model/stats"},
            {attribute, "average_batch_time_ms"},
            {format, "0,0.00 ms"}]}
         ]},
        {col, [{class, "col-md-3"}],
         [{widget, "value-panel",
           [{label, "Predictions per second"},
            {tooltip, "Estimated predictions per second based on run times"},
            {icon, "tachometer"},
            {color, "blue-700"},
            {source, "/model/stats"},
            {attribute, "predictions_per_second"},
            {format, ","}]}
         ]},
        {col, [{class, "col-md-3"}],
         [{widget, "value-panel",
           [{label, "Last run memory"},
            {tooltip, "Average memory per prediction in the last batch"},
            {icon, "microchip"},
            {color, "yellow-700"},
            {source, "/model/stats"},
            {attribute, "last_memory_bytes"},
            {format, "0.0 b"}]}
         ]}
       ]},
      {row,
       [{col, [{class, "col-md-12"}],
         [{widget, "run-model", []}
         ]}
       ]}
     ]}
    %% ,{col, [{class, "col-md-3"}],
    %%  [{row,
    %%    [{col, [{class, "col-md-12"}],
    %%      [{widget, "model-stats", []},
    %%       {widget, "flags", [{title, "Training Flags"}]},
    %%       {widget, "attrs", [{title, "Training Attributes"}]}
    %%      ]}
    %%    ]}
    %%  ]}
   ]}
 ]}.
