%%-*-erlang-*-
{navbar,
 [
  {link,
   [{label, "Train"},
    {icon,  "dashboard"},
    {view,  "train"}
   ]},
  {link,
   [{label, "Compare"},
    {icon,  "table"},
    {view,  "compare"}
   ]},
  {link,
   [{label, "Serve"},
    {icon,  "cloud-upload"},
    {view,  "serve"}
   ]}
 ]}.

{view, "train",
 [{row,
   [{col, [{class, "col-md-12"}],
     [{widget, "page-header", [runs_select]}]}
   ]},
  {row,
   [{col, [{class, "col-md-9"}],
     [{row,
       [
        {% for field in fields %}
        {% if not forloop.first %},{% endif %}
        {col, [{class, "{{field|field_class:fields}}"}],
         [{widget, "value-panel",
           [{color,     "{{field.color|default:'grey'}}"},
            {icon,      "{{field.icon}}"},
            {label,     "{{field.label|default:field.name}}"},
            {source,    "{{field.source}}"},
            {attribute, "{{field.attribute}}"},
            {reduce,    "{{field.reduce}}"},
            {format,    "{{field.format}}"}
           ]}
         ]}
         {% endfor %}
       ]
      }
      {% if series_a %}
      ,{row,
       [
        {% for series in series_a %}
        {% if not forloop.first %},{% endif %}
        {col, [{class, "{{series.colclass|default:'col-md-12'}}"}],
         [{widget, "timeseries",
           [{title, "{{series.title|default:series.name}}"},
            {label, "{{series.label}}"},
            {format, "{{series.format}}"},
            {source, "{{series.source}}"}
           ]}
         ]}
        {% endfor %}
       ]}
      {% endif %}
      {% if series_b %}
      ,{row,
       [
        {% for series in series_b %}
        {% if not forloop.first %},{% endif %}
        {col, [{class, "{{series.colclass|default:'col-md-6'}}"}],
         [{widget, "timeseries",
           [{title, "{{series.title|default:series.name}}"},
            {label, "{{series.label}}"},
            {format, "{{series.format}}"},
            {source, "{{series.source}}"}
           ]}
         ]}
        {% endfor %}
       ]}
      {% endif %}
      ,{row,
       [{col, [{class, "col-md-12"}],
         [{widget, "output", []}
         ]}
       ]}
     ]},
    {col, [{class, "col-md-3"}],
     [{widget, "status", []},
      {widget, "flags", []},
      {widget, "attrs", []}
     ]}
   ]}
 ]}.

{view, "compare",
 [{row,
   [{col, [{class, "col-md-12"}],
     [{widget, "page-header", []}]}
   ]},
  {row,
   [{col, [{class, "col-md-12"}],
     [{widget, "compare-table",
       [{columns,
         [
          {% for field in compare_fields %}
          {% if not forloop.first %},{% endif %}
            [{title, "{{field.label|default:field.name}}"},
             {source, "{{field.source}}"},
             {reduce, "{{field.reduce}}"},
             {attribute, "{{field.attribute}}"},
             {format, "{{field.format}}"}]
          {% endfor %}
         ]}
       ]}
     ]}
   ]}
 ]}.

{view, "serve", []}.
 %% [{row,
 %%   [{col, [{class, "col-md-12"}],
 %%     [{widget, "page-header", []}]}
 %%   ]}]}.
