%%-*-erlang-*-

%% ===================================================================
%% Common fields
%% ===================================================================

{"accuracy",
 [{color,  "green-700"},
  {icon,   "accuracy"},
  {label,  "Validation Accuracy"},
  {reduce, "last"},
  {format, "0.00%"},
  {source, "series/tf/validation/accuracy"}
 ]}.

{"train-accuracy",
 [{color,  "teal-400"},
  {icon,   "accuracy"},
  {label,  "Training Accuracy"},
  {reduce, "last_5_average"},
  {format, "0.00%"},
  {source, "series/tf/train/accuracy"}
 ]}.

{"validation-accuracy",
 [{color,  "green-700"},
  {icon,   "accuracy"},
  {label,  "Validation Accuracy"},
  {reduce, "last"},
  {format, "0.00%"},
  {source, "series/tf/validation/accuracy"}
 ]}.

{"test-accuracy",
 [{color,  "green-700"},
  {icon,   "accuracy"},
  {label,  "Test Accuracy"},
  {reduce, "last"},
  {format, "0.00%"},
  {source, "series/tf/test/accuracy"}
 ]}.

{"loss",
 [{color,  "red-700"},
  {icon,   "loss"},
  {label,  "Loss"},
  {reduce, "last"},
  {format, "0.000"},
  {source, "series/tf/train/loss"}
 ]}.

{"steps",
 [{color,  "blue-700"},
  {icon,   "steps"},
  {label,  "Steps"},
  {reduce, "steps"},
  {format, "0,0"},
  {source, "series/tf/train/loss"}
 ]}.

{"time",
 [{color,  "yellow-700"},
  {icon,   "time"},
  {label,  "Time"},
  {reduce, "duration"},
  {format, "00:00:00"},
  {source, "series/tf/train/loss"}
 ]}.

%% ===================================================================
%% Common flags
%% ===================================================================

{"learning-rate-flag",
 [{label,     "Learning Rate"},
  {source,    "flags"},
  {attribute, "learning-rate"}
 ]}.

{"max-steps-flag",
 [{label,     "Max Steps"},
  {source,    "flags"},
  {attribute, "max-steps"}
 ]}.

{"epochs-flag",
 [{label,     "Epochs (flag)"},
  {source,    "flags"},
  {attribute, "epochs"}
 ]}.

{"dropout-flag",
 [{label,     "Dropout"},
  {source,    "flags"},
  {attribute, "dropout"}
 ]}.

{"batch-size-flag",
 [{label,     "Batch Size"},
  {source,    "flags"},
  {attribute, "batch_size"}
 ]}.

{"num-gpus-flag",
 [{label,     "GPUs"},
  {source,    "flags"},
  {attribute, "num_gpus"}
 ]}.
