%% -*-erlang-*-

%% ===================================================================
%% Common runtime series
%% ===================================================================

{"accuracy",
 [{title,  "Accuracy"},
  {label,  ""},
  {format, "0.00%"},
  {source, "series/tf/[^/]+/accuracy"}
 ]}.

{"loss",
 [{title,  "Loss"},
  {label,  ""},
  {format, "0.000"},
  {source, "series/tf/[^/]+/loss"}
 ]}.

{"learning-rate",
 [{title,  "Learning Rate"},
  {label,  ""},
  {format, "0.0e"},
  {source, "series/tf/train/learning_rate"}
 ]}.

%% ===================================================================
%% Common system stats
%% ===================================================================

{"gpu-memory",
 [{title,  "GPU Memory"},
  {label,  ""},
  {format, "0.0 b"},
  {source, "series/sys/gpu[^/]*/mem/used"}
 ]}.

{"gpu-percent",
 [{title,  "GPU %"},
  {label,  ""},
  {format, "%"},
  {source, "series/sys/gpu[^/]*/gpu/util"}
 ]}.

{"gpu-temp",
 [{title,  "GPU Temp"},
  {label,  "Degress C"},
  {format, "0.0"},
  {source, "series/sys/gpu[^/]*/temp"}
 ]}.

{"gpu-powerdraw",
 [{title,  "GPU Power Draw"},
  {label,  "Watts"},
  {format, "0.0"},
  {source, "series/sys/gpu[^/]*/powerdraw"}
 ]}.

{"op-memory",
 [{title,  "Process Memory"},
  {label,  "Memory (RSS)"},
  {format, "0.0 b"},
  {source, "series/op/mem/rss"}
 ]}.

{"op-cpu-percent",
 [{title,  "Process CPU %"},
  {label,  ""},
  {format, "%"},
  {source, "series/op/cpu/util"}
 ]}.

{"cpu-percent",
 [{title,  "System CPU %"},
  {label,  ""},
  {format, "%"},
  {source, "series/sys/cpu[^/]*/util"}
 ]}.

{"device-percent",
 [{title,  "Disk %"},
  {label,  ""},
  {format, "%"},
  {source, "series/sys/dev[^/]*/util"}
 ]}.
