%%-*-erlang-*-

{"accuracy",
 [{source, "series/tf/validation/accuracy"}]}.

{"train-accuracy",
 [{source, "series/tf/train/accuracy"}]}.

{"validation-accuracy",
 [{source, "series/tf/validation/accuracy"}]}.

{"test-accuracy",
 [{source, "series/tf/test/accuracy"}]}.

{"loss",
 [{source, "series/tf/train/loss"}]}.

{"steps",
 [{source, "series/tf/train/loss"}]}.

{"time",
 [{source, "series/tf/train/loss"}]}.
