%%-*-erlang-*-

{"accuracy",
 [{source, "series/tf/[^/]*/- (Accuracy|Top_3)/Validation"}]}.

{"train-accuracy",
 [{source, "series/tf/[^/]*/- (Accuracy|Top_3)/"}]}.

{"validation-accuracy",
 [{source, "series/tf/[^/]*/- (Accuracy|Top_3)/Validation"}]}.

{"steps",
 [{source, "series/tf/[^/]*/- Loss/"}]}.

{"time",
 [{source, "series/tf/[^/]*/- Loss/"}]}.
