<link rel="import" href="../guild-component-panel/guild-component-panel.html">
<link rel="import" href="../guild-styles/guild-styles.html">

<dom-module id="guild-keyval-table">
  <template>
    <style include="guild-table"></style>
     <style>
      table {
          background-color: #fff;
      }
    </style>
    <guild-component-panel heading="[[heading]]">
      <table class="table table-responsive table-bordered table-hover">
        <tbody>
          <template is="dom-repeat" items="[[keyvals]]">
            <tr>
              <th>[[item.key]]</th>
              <td>[[item.value]]</td>
            </tr>
          </template>
        </tbody>
      </table>
    </guild-component-panel>
  </template>
  <script>
   Polymer({
       is: "guild-keyval-table",
       properties: {
           heading: String,
           object: Object,
           keyvals: {
               type: Array,
               computed: 'computeKeyvals(object)'
           }
       },
       computeKeyvals: function(object) {
           return Object.keys(object).map(function(key) {
               return {
                   "key": key,
                   "value": object[key]
               }
           });
       }
   });
  </script>
</dom-module>
