%%%-*-erlang-*-

{base_dir, "build"}.
{checkouts_dir, "local-deps"}.
{erl_opts, [warnings_as_errors]}.

{deps,
 [{e2,      {git, "git@github.com:gar1t/e2",             {branch, "master"}}},
  {gproc,   {git, "git@github.com:uwiger/gproc",         {ref,    "1d16f5e"}}},
  {cli,     {git, "git@github.com:gar1t/erlang-cli",     {branch, "master"}}},
  {psycho,  {git, "git@github.com:gar1t/psycho",         {branch, "master"}}},
  {erlexec, {git, "git@github.com:saleyn/erlexec",       {ref,    "2d90245"}}},
  {erlydtl, {git, "git@github.com:erlydtl/erlydtl",      {branch, "0.12.1"}}},
  {jiffy,   {git, "git@github.com:davisp/jiffy.git",     {ref,    "a7db724"}}},
  {sqlite3, {git, "git@github.com:gar1t/erlang-sqlite3.git", {branch, "master"}}},
  {euuid,   {git, "git@github.com:gar1t/euuid",          {branch, "master"}}}
 ]}.

{overrides,
 [{override, gproc,
   [{deps,
     [{gen_leader, {git, "git@github.com:garret-smith/gen_leader_revival",
                    {branch, "master"}}}]}
   ]},
  {override, sqlite3,
   [{plugins, [pc]},
    {artifacts, ["priv/sqlite3_drv.so"]},
    {provider_hooks, [{post, [{compile, {pc, compile}}, {clean, {pc, clean}}]}]}
   ]}
 ]}.
