%%%-*-erlang-*-

{base_dir, "build"}.
{erl_opts, [warnings_as_errors]}.
{deps,
 [{e2,      {git, "git://github.com/gar1t/e2.git",         {branch, "master"}}},
  {gproc,   {git, "git://github.com/uwiger/gproc.git",     {branch, "master"}}},
  {cli,     {git, "git://github.com/gar1t/erlang-cli.git", {branch, "master"}}},
  {psycho,  {git, "git://github.com/gar1t/psycho.git",     {branch, "master"}}},
  {erlexec, {git, "git://github.com/saleyn/erlexec.git",   {branch, "master"}}},
  {erlydtl, {git, "git://github.com/erlydtl/erlydtl.git",  {branch, "0.11.1"}}},
  {jiffy,   {git, "git://github.com/gar1t/jiffy.git",      {branch, "master"}}},
  {sqlite3, {git, "git://github.com/gar1t/erlang-sqlite3.git", {branch, "master"}}}
 ]}.
{escript_name, guild}.
{escript_incl_apps, [e2, gproc, cli, psycho, erlexec, erlydtl, jiffy, sqlite3]}.
{checkouts_dir, "local-deps"}.

{overrides,
 [{override, gproc,
   [{deps,
     [{gen_leader, {git, "https://github.com/garret-smith/gen_leader_revival.git",
                    {branch, "master"}}}]}
   ]},
  {override, sqlite3,
   [{plugins, [pc]},
    {artifacts, ["priv/sqlite3_drv.so"]},
    {provider_hooks, [{post, [{compile, {pc, compile}}, {clean, {pc, clean}}]}]}
   ]},
  {override, jiffy,
   [{plugins, [pc]},
    {artifacts, ["priv/jiffy.so"]},
    {provider_hooks, [{post, [{compile, {pc, compile}}, {clean, {pc, clean}}]}]}
   ]}
 ]}.
