<link rel="import" href="../guild-compare-components/guild-compare-components.html">
<link rel="import" href="../guild-compare-table/guild-compare-table.html">
<link rel="import" href="../guild-page-header/guild-page-header.html">

<dom-module id="guild-compare-page">
  <template>
    <style>
     :host {
         display: flex;
         flex-direction: column;
         align-items: stretch;
         padding: 0 15px 15px 15px;
     }
     guild-page-header {
         margin-bottom: 20px;
     }
     guild-compare-table {
         margin-bottom: 20px;
     }
    </style>
    <guild-page-header
        title="[[env.project.title]]"
        title-tooltip="[[env.project.description]]">
    </guild-page-header>
    <guild-compare-table
        id="table"
        env="[[env]]"
        fields="[[config.fields]]">
    </guild-compare-table>
    <guild-compare-components env="[[env]]"></guild-compare-components>
  </template>
  <script>
   Polymer({
       is: "guild-compare-page",

       listeners: {
           "run-select-changed": "handleRunSelectChanged"
       },

       properties: {
           env: Object,
           config: Object
       },

       handleRunSelectChanged: function() {
           this.debounce("run-select", this.refresh, 100);
       },

       refresh: function() {
           var ids = this.$.table.selected().map(function(item) {
               return item.run.id;
           });
           console.log(["TODO: refresh compare UI", ids]);
       }
   });
  </script>
</dom-module>
