<link rel="import" href="../guild-compare-table/guild-compare-table.html">
<link rel="import" href="../guild-page-header/guild-page-header.html">

<dom-module id="guild-compare-page">
  <template>
    <style>
     :host {
         display: flex;
         flex-direction: column;
         padding: 0 15px 15px 15px;
     }
     guild-page-header {
         margin-bottom: 20px;
     }
    </style>
    <guild-page-header
        title="[[env.project.title]]"
        title-tooltip="[[env.project.description]]">
    </guild-page-header>
    <guild-compare-table env="[[env]]" fields=[[config.fields]]></guild-compare-table>
  </template>
  <script>
   Polymer({
       is: "guild-compare-page",

       properties: {
           env: Object
       }
   });
  </script>
</dom-module>
