<link rel="import" href="../guild-component-panel/guild-component-panel.html">
<link rel="import" href="../guild-data/guild-data-listener.html">
<link rel="import" href="../vz-keyval-table/vz-keyval-table.html">

<dom-module id="guild-flags">
  <template>
    <guild-component-panel heading="Flags">
      <vz-keyval-table id="table"></vz-keyval-table>
    </guild-component-panel>
  </template>
  <script>
   Polymer({
       is: "guild-flags",

       properties: {
           dataSource: {
               type: String,
               value: "flags",
               readOnly: true
           }
       },

       behaviors: [Guild.DataListener],

       handleData: function(data) {
           this.$.table.object = data;
       }
   });
  </script>
</dom-module>
