<link rel="import" href="../guild-keyval-table/guild-keyval-table.html">

<dom-module id="guild-flags">
  <template>
    <guild-keyval-table heading="Flags" object="[[flags]]"></guild-keyval-table>
  </template>
  <script>
   Polymer({
       is: "guild-flags",
       properties: {
           flags: {
               type: Object,
               value: {
                   "batch_size": 100,
                   "datadir": "./data",
                   "epochs": 10,
                   "rundir": "$RUNDIR"
               }
           }
       }
   });
  </script>
</dom-module>
