<link rel="import" href="../vz-line-chart/vz-line-chart.html">

<dom-module id="guild-line-chart">
  <template>
    <style>
     :host {
         display: flex;
     }
    </style>
    <vz-line-chart
        x-type="[[options.xType]]"
        y-scale-type="[[options.yScale]]"
        smoothing-enabled="[[smoothingEnabled]]"
        smoothing-weight="[[options.smoothing]]"
        tooltip-sorting-method="[[options.tooltipSort]]">
    </vz-line-chart>
  </template>
  <script>
   Polymer({
       is: "guild-line-chart",

       properties: {
           options: {
               type: Object
           },
           smoothingEnabled: {
               type: Boolean,
               computed: 'computeSmoothingEnabled(options.smoothing)'
           },
           chart: Object,
           chartOps: {
               value: function() {
                   return [];
               }
           }
       },

       behaviors: [
           Polymer.Templatizer
       ],

       ready: function() {
           this.initChart();
           this.applyChartOps();
       },

       initChart: function() {
           this.chart = this.$$("vz-line-chart");
       },

       applyChartOps: function() {
           this.chartOps.forEach(function(op) {
               op(this.chart);
           }.bind(this));
           this.chartOps = [];
       },

       computeSmoothingEnabled: function(smoothing) {
           return smoothing > 0;
       },

       setVisibleSeries: function(series) {
           this.chartOp(function(chart) {
               chart.setVisibleSeries(series);
           });
       },

       setSeriesData: function(series, data) {
           this.chartOp(function(chart) {
               chart.setSeriesData(series, data);
           });
       },

       chartOp: function(op) {
           if (this.chart) {
               op(this.chart);
           } else {
               this.chartOps.push(op);
           }
       }
   });
  </script>
</dom-module>
