<link rel="import" href="../vz-line-chart/vz-line-chart.html">

<dom-module id="guild-line-chart">
  <template>
    <style>
     :host {
         display: flex;
     }
    </style>
    <vz-line-chart
        id="chart"
        x-type="[[options.xType]]"
        y-scale-type="[[options.yScale]]"
        smoothing-enabled="[[smoothingEnabled]]"
        smoothing-weight="[[options.smoothing]]"
        tooltip-sorting-method="[[options.tooltipSort]]">
    </vz-line-chart>
  </template>
  <script>
   Polymer({
       is: "guild-line-chart",

       properties: {
           options: {
               type: Object
           },
           smoothingEnabled: {
               type: Boolean,
               computed: 'computeSmoothingEnabled(options.smoothing)'
           },
           attachedChart: Object,
           attachedChartOps: {
               value: function() {
                   return [];
               }
           }
       },

       attached: function() {
           this.attachedChart = this.$.chart;
           this.attachedChartOps.forEach(function(op) {
               op(this.attachedChart);
           }.bind(this));
           this.attachedChartOps = [];
       },

       computeSmoothingEnabled: function(smoothing) {
           return smoothing > 0;
       },

       setVisibleSeries: function(series) {
           this.attachedChartOp(function(chart) {
               chart.setVisibleSeries(series);
           });
       },

       setSeriesData: function(series, data) {
           this.attachedChartOp(function(chart) {
               chart.setSeriesData(series, data);
           });
       },

       attachedChartOp: function(op) {
           if (this.attachedChart) {
               op(this.attachedChart);
           } else {
               this.attachedChartOps.push(op);
           }
       }
   });
  </script>
</dom-module>
