.search {
    margin-top: 2rem;
}

.p-row {
    border-bottom: 1px solid #ccc;
    padding: 30px 0;
    margin-left: 0;
    margin-right: 0;
}

.p-row:first-child {
    padding-top: 10px;
}

.p-row:last-child {
    border-bottom: none;
}

.p-name {
    margin-top: 0;
    font-weight: 600;
    font-size: 24px;
}

.p-desc {
    margin-bottom: 15px;
}

.p-meta {
}

.p-updated {
    color: #777;
    font-size: 13px;
    margin-left: 6px;
    white-space: nowrap;
}

.p-metaval {
    margin-left: 6px;
}

.p-metaval i {
    color: #666;
}

.p-stars {
    margin-right: 8px;
    color: #666;
}

.p-stars i {
    color: #32c5d2;
}

.p-tag {
    padding: 4px 6px;
    font-weight: 300;
    border-radius: 0;
    margin-right: 2px;
}

.p-tag a {
    color: inherit;
}

.p-tag a:hover {
    text-decoration: none;
}

.caption {
    margin-bottom: 5px;
}

.caption .caption-main {
    font-weight: 600;
    text-transform: uppercase;
}

.caption .caption-helper {
    margin-left: 0.2em;
    color: #666;
}

.badge-tagcount {
    font-weight: 300;
    background-color: #fff;
    color: #777;
    margin: -1px 4px 0 6px;
    font-size: 10px !important;
    height: 14px;
    padding: 2px 4px;
    line-height: 10px;
}

.label-tag {
    display: inline-block;
    padding: 8px 4px 8px 8px;
    background-color: #d0d0d0;
    color: #fff !important;
    font-size: 13px !important;
    margin: 3px 2px 3px 0;
    font-weight: 300;
}

.label-tag:hover {
    opacity: 0.7;
}

.panel-tags-filter {
    margin: 2rem 0 0 1rem;
}

.panel-tags-filter .panel-heading {
    padding: 0;
}

.panel-tags-filter .panel-body {
    padding: 7px 0 0 0;
}

.project-header {
    border-bottom: 1px solid #eee;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

h1.project {
    font-size: 28px;
}

.project-name {
    font-weight: 600;
}

.path-sep {
    margin: 0 0.25em;
    color: #666;
}

.project-actions {
    margin-top: 30px;
}

.badge-count {
    color: #777;
    margin: 0 0 0 4px;
    font-size: 10px !important;
    line-height: 10px;
}

.btn-star.btn-default {
    color: #666;
}

.btn-star.btn-default .badge-count {
    background-color: #666;
}

a.anchor {
    display: none;
}

.guild-tabs {
    margin-top: 25px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    font-weight: 600;
}

.nav-tabs > li.active > a:hover {
    cursor: pointer;
}

.guild-tabs-body > h1 {
    margin-top: 0;
}

.guild-tabs-body {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px 20px;
    margin-bottom: 20px;
}

.panel-widget {
    opacity: 0.8;
}

a:not([href]) {
    color: inherit;
}

a:not([href]):hover {
    color: inherit;
    text-decoration: inherit;
}

img.user-avatar {
    height: 30px;
    position: absolute;
    top: 10px;
    left: 15px;
}

a.user-avatar-dropdown {
    padding-left: 50px !important;
}

a.user-avatar-dropdown:hover img.user-avatar {
    -webkit-filter: brightness(105%);
    filter: brightness(105%);
}

.no-matches {
    margin-top: 20px;
}

.a-details {
    margin-top: 20px;
}

.a-avatar {
    width: 100%;
    max-width: 240px;
    border-radius: 6px;
    border: 1px solid #eee;
}

.a-fullname {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 0;
}

.a-name {
    margin-top: 5px;
    font-size: 18px;
}

.a-links {
    margin-top: 20px;
}

.a-links li {
    margin-bottom: 6px;
}

.a-tabs {
    margin-top: 30px;
    text-transform: uppercase;
}

.a-tabs .active {
    font-weight: 600;
}
