<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{html_title}}</title>

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/material-design-color-palette.min.css" rel="stylesheet">
    <link href="/assets/css/guild.css" rel="stylesheet">

    {% block styles %}{% endblock %}

    <link rel="shortcut icon" href="/assets/images/favicon.ico" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
  </head>

  <body>
    <div id="wrapper">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="row">
            <div class="{% if narrow_page %}col-lg-8 col-lg-offset-2{% else %}col-xs-12{% endif %}">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">{{nav_title}}</a>
              </div>
              <div class="collapse navbar-collapse" id="navbar" style="padding-right:0">
                {% block navbar_menu %}{% endblock %}
              </div>
            </div>
          </div>
        </div>
      </nav>
      <div id="page-wrapper" class="container-fluid">
        <div class="row">
          <div class="{% if narrow_page %}col-lg-8 col-lg-offset-2{% else %}col-xs-12{% endif %}">
            {% block page_content %}{% endblock %}
          </div>
        </div>
      </div>
    </div>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/signals.min.js"></script>
    <script src="/assets/js/jquery.blockui.min.js"></script>
    <script src="/assets/js/guild.js"></script>

    {% block scripts %}{% endblock %}

  </body>

</html>
