<div class="panel panel-default" >
  <div class="panel-heading clearfix">
    <div class="panel-title pull-left">{% block title %}{% endblock %}</div>
    <div class="btn-group pull-right">
      <a data-toggle="collapse"
         href="#panel-{{uid}}"
         aria-expanded="true"><i class="fa fa-angle-up fa-fw fa-lg expand-collapse"></i></a>
      <a data-toggle="expand"
         href="#panel-{{uid}}"
         aria-controls="panel-{{uid}}"><i class="fa fa-expand fa-fw"></i></a>
    </div>
  </div>
  <div class="panel-body collapse in" id="panel-{{uid}}">
    {% block body %}{% endblock %}
  </div>
</div>
