{% extends "base.html" %}

{% block styles %}
<link href="/assets/css/depot.css" rel="stylesheet">
<style>
 {% for tag in tags %}
 {% if tag.selected %}
 .tag-{{tag.id}} {
     background-color: {{tag.color}};
 }
 {% endif %}
 .tag-{{tag.id}}:hover {
     background-color: {{tag.color}};
 }
 {% endfor %}
</style>
{% endblock %}

{% block navbar_menu %}
{% include "depot-navbar.html" %}
{% endblock %}

{% block page_content %}
<div class="row">
  <div class="col-md-9">
    <div class="row">
      <div class="col-xs-12">
        <form action="/" id="controls-form">
          {% for tag in tags %}
          <input type="checkbox" style="display:none" name="t" id="tag-{{tag.id}}" value="{{tag.name}}" {% if tag.selected %}checked="checked"{% endif %}>
          {% endfor %}
          <div class="input-group search">
            <input type="text" name="q" class="form-control" placeholder="Find something" value="{{params.q}}">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </form>
      </div>
    </div>
    {% for p in projects %}
    <div class="row p-row">
      <div class="col-xs-12">
        <h2 class="p-name"><a href="{{p.path}}">{{p.account.name}} / {{p.name}}</a></h2>
        <div class="p-desc">{{p.description}}</div>
        <div class="p-meta">
          <span class="p-stars"><i class="fa fa-star"></i> {{p.stars}}</span>
          {% for tag in p.tags %}
          <span class="p-tag badge" style="background-color:{{tag|tag_color}}">
            <a href="/?t={{tag}}">{{tag}}</a>
          </span>
          {% endfor %}
          <span class="p-updated">{{p.updated|format_updated:now_seconds}}</span>
        </div>
      </div>
    </div>
    {% empty %}
    <div class="no-matches">
      <p>No matches. Something less esoteric?</p>
      <p><a href="/">Clear filters</a></p>
    </div>
    {% endfor %}
  </div>
  <div class="col-md-3">
    <div class="panel-tags-filter">
      <div class="caption">
        <span class="caption-main">Tags</span>
        <span class="caption-helper">click to filter</span>
      </div>
      <div class="project-tags">
        {% for tag in tags %}
        <a href="javascript:tag('{{tag.id}}')"
           class="label label-tag tag-{{tag.id}}">{{tag.name}}<span class="badge badge-tagcount">{{tag.count}}</span></a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
 $(function() {
     guild.depot.baseInit();
 });

 function tag(tag) {
     $("#tag-" + tag).click();
     $("#controls-form").submit();
 }
</script>
{% endblock %}
