{% extends "base.html" %}

{% block styles %}
<link href="/assets/css/bootstrap-select.min.css" rel="stylesheet">
{% for css in viewdef|viewdef_css %}
<link href="{{css}}" rel="stylesheet">
{% endfor %}
{% endblock %}

{% block navbar_menu %}
<ul class="nav navbar-nav">
  <li class="active"><a href=""><i class="fa fa-dashboard fa-fw"></i> Train</a></li>
  <li><a href="/compare"><i class="fa fa-tasks fa-fw"></i> Evaluate</a></li>
  <li><a href="/predict"><i class="fa fa-bullseye fa-fw"></i> Predict</a></li>
  <!--<li><a href="/serve"><i class="fa fa-upload fa-fw"></i> Serve</a></li>-->
</ul>
{% endblock %}

{% block page_content %}
<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1>{{project_title}}</h1>
      <select class="page-header-select selectpicker" id="runs-select"
              data-width="fit"
              data-none-selected-text="">
      </select>
    </div>
  </div>
</div>
{% autoescape off %}
{{viewdef|render_viewdef}}
{% endautoescape %}
{% endblock %}

{% block scripts %}
<script src="/assets/js/numeral.min.js"></script>
<script src="/assets/js/bootstrap-select.min.js"></script>
{% for js in viewdef|viewdef_js %}
<script src="{{js}}"></script>
{% endfor %}
<script>
 $(function() {
     var selectedRun = {{params.run|default:null}};
     var syncInterval = {{view_opts.data_poll_interval|default:5}}
     initIndexPage(selectedRun, syncInterval);
 });
</script>
{% endblock %}
