{% extends "base.html" %}

{% block styles %}
{% for css in active_view|page_view_css %}
<link href="{{css}}" rel="stylesheet">
{% endfor %}
{% endblock %}

{% block navbar_menu %}
<ul class="nav navbar-nav">
  {% for item in viewdef|navbar_links %}
  <li class="{{item|navbar_item_active_class:active_view}}">
    <a href="{{item|navbar_item_link:params}}"><i class="fa fa-{{item.icon}} fa-fw"></i> {{item.label}}</a>
  </li>
  {% endfor %}
</ul>
{% endblock %}

{% block page_content %}
{% autoescape off %}
{{active_view|render_page_view:view_render_context}}
{% endautoescape %}
{% endblock %}

{% block scripts %}
{% for js in active_view|page_view_js %}
<script src="{{js}}"></script>
{% endfor %}
<script>
 $(function() {
     var selectedRun = {{params.run|default:null}};
     var syncInterval = {{view_opts.data_poll_interval|default:5}}
     initViewPage(selectedRun, syncInterval);
 });
</script>
{% endblock %}
