<div class="panel panel-widget mdc-bg-{{color|default:'grey'}}"
     data-widget="value-panel"
     {# value existing has special meaning - it overrides source even if empty #}
     {% if value|default_if_none:false %}data-widget-value="{{value}}"{% endif %}
     data-widget-source="{{source}}"
     data-widget-attribute="{{attribute}}"
     data-widget-format="{{format}}"
     data-widget-reduce="{{reduce}}" >
  <div class="panel-heading">
    <div class="row">
      {% if icon %}
      <div class="col-xs-3 label-icon-col">
        <i class="fa fa-{{icon|resolve_icon_alias}} fa-fw label-icon"></i>
      </div>
      {% endif %}
      <div class="{% if icon %}col-xs-9{% else %}col-xs-12{% endif %} text-right">
        <div class="label-value label-value-{{value_font|default:'default'}}">
          <span>--</span>
        </div>
        <div class="label-caption" data-placement="bottom" title="{{tooltip}}">{{label}}</div>
      </div>
    </div>
  </div>
</div>
