<div class="panel mdc-bg-{{color}}">
  <div class="panel-heading">
    <div class="row">
      {% if icon %}
      <div class="col-xs-3">
        <i class="fa fa-{{icon|resolve_icon_alias}} label-icon"></i>
      </div>
      {% endif %}
      <div class="{% if icon %}col-xs-9{% else %}col-xs-12{% endif %} text-right">
        <div class="label-value label-value-{{value_font|default:'default'}}">
          <span
              {# value existing has special meaning - it overrides source even if empty #}
              {% if value|default_if_none:false %}data-widget-value="{{value}}"{% endif %}
              data-widget-source="{{source}}"
              data-widget-attribute="{{attribute}}"
              data-widget-format="{{format}}"
              data-widget-reduce="{{reduce}}"
              data-widget-init="initValuePanel"
              data-widget-update="updateValuePanel"
          >--</span>
        </div>
        <div class="label-caption">{{title}}</div>
      </div>
    </div>
  </div>
</div>
