<link rel="import" href="../paper-checkbox/paper-checkbox.html">

<dom-module id="guild-checkbox">
  <template>
    <paper-checkbox
        id="cb"
        checked="[[cbChecked]]"
        disabled="{{disabled}}"
        noink="{{noink}}"
        on-change="checkedChanged"
    ><content></content></paper-checkbox>
  </template>
  <script>
   Polymer({
       is: "guild-checkbox",

       properties: {
           ariaChecked: {
               type: String,
               observer: 'ariaCheckedChanged',
               notify: true
           },
           disabled: Boolean,
           noink: Boolean,
           cbChecked: {
               type: Boolean,
               computed: 'computeCbChecked(ariaChecked)'
           }
       },

       computeCbChecked: function(ariaChecked) {
           return ariaChecked == "true";
       },

       attached: function() {
           this.refreshMixedStyle();
       },

       checkedChanged: function() {
           if (this.ariaChecked == "mixed") {
               // Cycle from mixed to false
               this.$.cb.checked = false;
               this.ariaChecked = "false";
           } else {
               this.ariaChecked = this.$.cb.checked ? "true" : "false";
           }
       },

       ariaCheckedChanged: function(val, old) {
           if ((val == "mixed" && old != undefined) || old == "mixed") {
               this.refreshMixedStyle();
           }
       },

       refreshMixedStyle: function() {
           var bg = this.ariaChecked == "mixed" ? "#d6d6d6": "transparent";
           this.customStyle["--paper-checkbox-unchecked-background-color"] = bg;
           this.updateStyles();
       }
   });
  </script>
</dom-module>
