<link rel="import" href="../fa-awesome/fa-awesome.html">
<link rel="import" href="../guild-styles/guild-styles.html">

<dom-module id="guild-run-status">
  <template>
    <style include="guild-run-status-styles"></style>
    <style>
     #status {
         display: flex;
         flex-direction: row;
         align-items: center;

     }
     #icon {
         display: flex;
         align-items: center;
     }
     fa-awesome {
         --fa-awesome-icon-width: 28px;
         --fa-awesome-icon-height: auto;
         margin-right: 0.6em;
     }
     #label {
         font-size: 28px;
     }
    </style>
    <div id="status">
      <div id="icon">
        <fa-awesome
            class$="[[status.iconClass]]"
            spin$="[[status.spin]]"
            icon="[[status.icon]]">
        </fa-awesome>
      </div>
      <div id="label">[[status.label]]</div>
    </div>
  </template>
  <script>
   Polymer({
       is: "guild-run-status",

       properties: {
           env: {
               type: Object,
               value: {}
           },
           status: {
               type: Object,
               computed: 'computeStatus(env)'
           }
       },

       computeStatus: function(env) {
           var run = env.selectedRun;
           if (run != null) {
               return Guild.Run.runStatus(run);
           } else {
               return {
                   icon: "",
                   iconClass: "",
                   label: ""
               }
           }
       }
   });
  </script>
</dom-module>
