<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-collapse/iron-collapse.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">

<dom-module id="guild-expansion-panel">
  <template>
    <style>
     .header,
     .fixed-header {
         color: var(--primary-text-color);
         @apply(--layout-horizontal);
         @apply(--layout-justified);
         @apply(--layout-center);
     }
     .header {
         cursor: pointer;
         padding: 5px 20px;
     }
     .fixed-header {
         padding: 10px 20px;
     }
     h2 {
         margin: 0;
         font-size: 18px;
         font-weight: normal;
     }
     paper-icon-button {
         color: var(--disabled-text-color);
     }
    </style>
    <template is="dom-if" if="[[!fixed]]">
      <div class="header" on-click="toggle">
        <h2>[[heading]]</h2>
        <paper-icon-button icon="[[toggleIcon]]"></paper-icon-button>
      </div>
      <iron-collapse opened="{{opened}}">
        <slot></slot>
      </iron-collapse>
    </template>
    <template is="dom-if" if="[[fixed]]">
      <div class="fixed-header">
        <h2>[[heading]]</h2>
      </div>
      <content></content>
    </template>
  </template>
  <script>
   Polymer({
       is: 'guild-expansion-panel',

       properties: {
           heading: String,
           fixed: {
               type: Boolean,
               value: false
           },
           opened: {
               type: Boolean,
               reflectToAttribute: true,
               notify: true
           },
           toggleIcon: {
               type: String,
               computed: 'computeToggleIcon(opened)'
           }
       },

       toggle: function() {
           this.opened = !this.opened;
           this.fire('toggle', this);
       },

       computeToggleIcon: function(opened) {
           return opened ? 'icons:expand-less' : 'icons:expand-more';
       }
   });
  </script>
</dom-module>
