<link rel="import" href="../guild-event/guild-event.html">
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu-light.html">
<link rel="import" href="../paper-listbox/paper-listbox.html">
<link rel="import" href="guild-run-select-item.html">

<dom-module id="guild-run-select">
  <template>
    <style>
     paper-dropdown-menu-light {
         width: auto;
         --paper-dropdown-menu-input: {
             border-bottom: none;
         };
         --paper-dropdown-menu-icon: {
             right: -3px;
         };
     }
    </style>

    <div>
      <!-- Because we change window location on dropdown select, disabling
           both animations and ink (ripple effect) as they are interrupted
           in mid-stream. We could wait for the ripple to complete (transition
           event) but it complicates an otherwise simple mechanism.
         -->
      <paper-dropdown-menu-light id="dropdown" label="Active run" no-animations noink>
        <paper-listbox class="dropdown-content" selected="{{selected}}">
          <template is="dom-repeat" items="[[env.runs]]" as="run">
            <guild-run-select-item run="[[run]]"></guild-run-select-item>
          </template>
        </paper-listbox>
      </paper-dropdown-menu-light>
    </div>
  </template>
  <script>
   Polymer({
       is: "guild-run-select",

       properties: {
           env: Object,
           selected: {
               type: Number,
               observer: 'selectedChanged'
           }
       },

       ready: function() {
           this.selected = this.selectedRunIndex();
       },

       selectedRunIndex: function() {
           var run = this.env.selectedRun;
           var runs = this.env.runs;
           for (var i = 0; i < runs.length; i++) {
               if (runs[i] == run) {
                   return i;
               }
           }
           return -1;
       },

       selectedChanged: function(index, previous) {
           if (previous != undefined) {
               var run = this.env.runs[index];
               Guild.Event.notify("run-selected", run, this.env);
           }
       }
   });
  </script>
</dom-module>
