<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../guild-styles/guild-styles.html">
<link rel="import" href="../guild-run/guild-run.html">
<link rel="import" href="../paper-item/paper-item-behavior.html">
<link rel="import" href="../paper-item/paper-item-shared-styles.html">

<dom-module id="guild-run-select-item">
  <template>
    <style include="guild-run-status-styles"></style>
    <style include="paper-item-shared-styles"></style>
    <style>
     :host {
         cursor: pointer;
         display: flex;
         flex-direction: row;
         align-items: center;
         min-height: 36px;
         font-size: 14px;
     }
     iron-icon {
         --iron-icon-width: 18px;
         --iron-icon-height: 18px;
         margin-right: 0.4rem;     }
    </style>
    <iron-icon class$="[[status.iconClass]]" icon="[[status.icon]]"></iron-icon>
    <div>[[label]]</div>
  </template>
  <script>
   Polymer({
       is: "guild-run-select-item",

       behaviors: [
           Polymer.PaperItemBehavior
       ],

       properties: {
           run: Object,
           label: {
               type: String,
               computed: 'computeLabel(run)'
           },
           status: {
               type: Object,
               computed: 'computeStatus(run)'
           }
       },

       computeLabel: function(run) {
           return Guild.Run.runLabel(run);
       },

       computeStatus: function(run) {
           return Guild.Run.runStatus(run);
       }
    });
  </script>
</dom-module>
