<link rel="import" href="../guild-event/guild-event.html">
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu-light.html">
<link rel="import" href="../paper-listbox/paper-listbox.html">

<link rel="import" href="guild-run-select-item.html">

<dom-module id="guild-run-select">
  <template>
    <style>
     paper-dropdown-menu-light {
         width: auto;
         --paper-dropdown-menu-input: {
             border-bottom: none;
         };
         --paper-dropdown-menu-icon: {
             right: -3px;
         };
     }
    </style>

    <div>
      <!-- Because we change window location on dropdown select, disabling
           both animations and ink (ripple effect) as they are interrupted
           in mid-stream. We could wait for the ripple to complete (transition
           event) but it complicates an otherwise simple mechanism.
         -->
      <paper-dropdown-menu-light id="dropdown" label="Active run" no-animations noink>
        <paper-listbox class="dropdown-content" selected="{{selected}}">
          <template is="dom-repeat" items="[[runs]]" as="run">
            <guild-run-select-item run="[[run]]"></guild-run-select-item>
          </template>
        </paper-listbox>
      </paper-dropdown-menu-light>
    </div>
  </template>
  <script>
   Polymer({
       is: "guild-run-select",

       properties: {
           env: Object,
           runs: Array,
           selected: {
               type: Number,
               observer: 'handleRunSelected'
           }
       },

       ready: function() {
           Guild.Event.register(
               "env-runs-changed",
               this.handleRuns.bind(this),
               this.env);
           this.handleRuns(this.env.runs);
       },

       handleRuns: function(runs) {
           this.runs = runs;
           this.selected = this.selectedRunIndex();
           this.maybeNotifyRunChanged();
       },

       selectedRunIndex: function() {
           for (var i = 0; i < this.runs.length; i++) {
               if (this.runs[i].id == this.env.runId) {
                   return i;
               }
           }
           return -1;
       },

       handleRunSelected: function(index, previous) {
           if (previous != undefined) {
               this.maybeNotifyRunChanged();
           }
       },

       maybeNotifyRunChanged: function() {
           if (this.runs && this.selected != -1) {
               var selected = this.runs[this.selected];
               if (selected.id != this.env.runId) {
                   Guild.Event.notify("run-selected", selected, this.env);
               }
           } else {
               Guild.Event.notify("run-selected", null, this.env);
           }
       }
   });
  </script>
</dom-module>
