<link rel="import" href="../guild-component/guild-component.html">
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu-light.html">
<link rel="import" href="../paper-listbox/paper-listbox.html">
<link rel="import" href="../paper-item/paper-item.html">

<dom-module id="guild-page-header">
  <template>
    <style>
     guild-component {
         --guild-component: {
             display: flex;
             flex-direction: row;
             flex-wrap: wrap;
             align-items: center;
             border-bottom: 1px solid #eee;
             padding: 5px 0 5px 0;
         }
     }
     h1 {
         font-size: 40px;
         font-weight: normal;
         margin: 2px 20px 0 0;
         padding: 0;
     }
     paper-dropdown-menu-light {
         width: auto;
         --paper-dropdown-menu-input: {
             border-bottom: none;
         }
     }
     paper-item {
         --paper-item: {
             cursor: pointer;
         }
     }
    </style>
    <guild-component>
      <h1>[[projectTitle]]</h1>
      <template is="dom-if" if="[[!noRunSelect]]">
        <paper-dropdown-menu-light label="Active run">
          <paper-listbox class="dropdown-content" selected="1">
            <template is="dom-repeat" items="[[runs]]">
              <paper-item>[[item.label]]</paper-item>
            </template>
          </paper-listbox>
        </paper-dropdown-menu-light>
      </template>
    </guild-component>
  </template>
  <script>
   Polymer({
       is: "guild-page-header",
       properties: {
           projectTitle: {
               type: String,
               value: "MNIST"
           },
           noRunSelect: {
               type: Boolean,
               value: false
           },
           runs: {
               type: Array,
               value: [
                   {
                       label: "Tue Feb 14 2017, 12:46:04 AM - expert",
                   },
                   {
                       label: "Tue Feb 14 2017, 12:46:03 AM - expert",
                   },
                   {
                       label: "Tue Feb 14 2017, 12:46:02 AM - expert",
                   },
                   {
                       label: "Tue Feb 14 2017, 12:46:01 AM - expert",
                   },
                   {
                       label: "Tue Feb 14 2017, 12:46:00 AM - expert",
                   }
               ]
           }
       }
   });
  </script>
</dom-module>
