<link rel="import" href="../guild-compare-component-panel/guild-compare-component-panel.html">

<dom-module id="guild-keyval-compare-component">
  <template>
    <guild-compare-component-panel title="[[source]]">
      <p>TODO: Show KEYVAL for source=[[source]] and [[runs.length]] runs</p>
    </guild-compare-component-panel>
  </template>
  <script>
   Polymer({
       is: "guild-keyval-compare-component",

       properties: {
           env: Object,
           source: String,
           runs: Array
       }
   });
  </script>
</dom-module>
