<link rel="import" href="../guild-compare-component-panel/guild-compare-component-panel.html">
<link rel="import" href="../guild-data/guild-run-compare-data-listener.html">
<link rel="import" href="../guild-run-dropdown-menu/guild-run-dropdown-menu.html">
<link rel="import" href="../guild-styles/guild-styles.html">
<link rel="import" href="../guild-util/jsondiffpatch.html">
<link rel="import" href="../iron-collapse/iron-collapse.html">
<link rel="import" href="../paper-toggle-button/paper-toggle-button.html">

<dom-module id="guild-keyval-compare-component">
  <template>
    <style include="guild-table-styles"></style>
    <style>
     div.waiting {
         padding: 0 20px;
         color: #777;
         text-align: center;
     }

     div.unchanged {
         color: #777;
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         align-items: center;
         justify-content: center;
         padding: 10px 20px 0;
     }

     div.table-responsive {
         margin-bottom: 0;
     }

     paper-toggle-button {
         --paper-toggle-button-label-color: #777;
         --paper-toggle-button-checked-button-color: var(--paper-blue-500);
         margin-left: 20px;
     }

     a {
         color: var(--default-primary-color);
     }

     table th.longest-key-placeholder span {
         font-weight: bold;
         visibility: hidden;
     }

     table thead th {
         font-weight: normal;
         border-bottom: none !important;
         padding-top: 0 !important;
     }

     table thead th a,
     table tbody td span {
         white-space: normal;
     }

     table tr.unchanged td.left,
     table tr.unchanged td.right,
     {
         color: #999;
     }

     table tr.modified td.left span,
     table tr.deleted td.left span {
         color: #777;
         background: #eee;
         padding: 0 4px;
     }

     table tr.modified td.right span,
     table tr.added td.right span {
         background: var(--paper-light-blue-100);
         padding: 0 4px;
     }

     paper-item {
         cursor: pointer;
      }
    </style>
    <guild-compare-component-panel title="[[title]]">
      <template is="dom-if" if="[[!right]]">
        <div class="waiting">No runs selected</div>
      </template>
      <template is="dom-if" if="[[right]]">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th width="20%" class="longest-key-placeholder">
                  <span>[[longestKey(diff.rows)]]</span>
                </th>
                <template is="dom-if" if="[[left]]">
                  <th width="40%">
                    <guild-run-dropdown-menu runs="[[runs]]" selected="{{left}}">
                    </guild-run-dropdown-menu>
                  </th>
                </template>
                <th width="40%">
                  <guild-run-dropdown-menu runs="[[runs]]" selected="{{right}}">
                  </guild-run-dropdown-menu>
                </th>
              </tr>
            </thead>
          </table>
          <iron-collapse opened="[[diff.showValues]]">
            <table class="table table-hover">
              <tbody>
                <template is="dom-repeat" items="[[diff.rows]]" as="row">
                  <tr class$="[[row.type]]">
                    <th width="20%" class="key">[[row.key]]</th>
                    <template is="dom-if" if="[[left]]">
                      <td width="40%" class="left"><span>[[row.left]]</span></td>
                    </template>
                    <td width="40%" class="right"><span>[[row.right]]</span></td>
                  </tr>
                </template>
              </tbody>
            </table>
          </iron-collapse>
        </div>
        <template is="dom-if" if="[[diff.unchanged]]">
          <div class="unchanged">
            [[unchangedMessage(left, right)]]
            <paper-toggle-button active="{{diff.showValues}}">Show values</paper-toggle-button>
          </div>
        </template>
      </template>
    </guild-compare-component-panel>
  </template>
  <script>
   Polymer({
       is: "guild-keyval-compare-component",

       behaviors: [Guild.RunCompareDataListener],

       properties: {
           title: String,
           data: {
               type: Array,
               value: []
           },
           diff: {
               type: Object
           },
           left: {
               type: Object,
               value: null,
               observer: 'refreshDiff'
           },
           right: {
               type: Object,
               value: null,
               observer: 'refreshDiff'
           },
           _lockDiff: {
               type: Boolean,
               value: false
           }
       },

       handleData: function(data) {
           this.data = data;
           this._lockDiff = true;
           this.left = this.initLeft(data);
           this.right = this.initRight(data);
           this._lockDiff = false;
           this.refreshDiff();
       },

       initLeft: function(data) {
           return data.length > 1 ? data[data.length - 1].run.id : null;
       },

       initRight: function(data) {
           return data.length > 0 ? data[0].run.id : null;
       },

       refreshDiff: function() {
           if (!this._lockDiff) {
               this.diff = this.computeDiff(this.left, this.right, this.data);
           }
       },

       computeDiff: function(left, right, data) {
           if (left && right) {
               return this.diffRuns(left, right, data);
           } else if (right) {
               return this.singleRun(right, data);
           } else {
               return this.noDiff();
           }
       },

       diffRuns: function(left, right, data) {
           var leftData = this.runData(left, data);
           var rightData = this.runData(right, data);
           var delta = Guild.JSONDiffPatch.diff(leftData, rightData);
           var rows = Guild.JSONDiffPatch.formatKeyvalDelta(delta, leftData);
           return this.formatDiff(rows, delta);
       },

       runData: function(runId, data) {
           for (var i = 0; i < data.length; i++) {
               var item = data[i];
               if (item.run.id == runId) {
                   return item[this.source];
               }
           }
           throw ["cannot find run", runId];
       },

       formatDiff: function(rows, delta) {
           return {
               rows: rows,
               unchanged: delta == null,
               showValues: delta != null
           }
       },

       singleRun: function(run, data) {
           return {
               rows: this.formatKeyvals(this.runData(run, data)),
               unchanged: false,
               showValues: true
           }
       },

       formatKeyvals: function(items) {
           var keys = Object.keys(items);
           return keys.map(function(key) {
               return {
                   type: "unchanged",
                   key: key,
                   left: null,
                   right: items[key]
               }
           });
       },

       noDiff: function() {
           return {
               rows: [],
               unchanged: false,
               showValues: true
           }
       },

       dataRuns: function(data) {
           return data.map(function(item) {
               return item.run;
           });
       },

       longestKey: function(rows) {
           var longest = "";
           rows.forEach(function(row) {
               if (row.key.length > longest.length) {
                   longest = row.key;
               }
           });
           return longest;
       },

       unchangedMessage: function(left, right) {
           if (left == right) {
               return "Comparing the same run";
           } else {
               return "Runs have the same values";
           }
       }
   });
  </script>
</dom-module>
