<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-tabs/paper-tabs.html">
<link rel="import" href="../paper-toolbar/paper-toolbar.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-header-panel/paper-header-panel.html">
<link rel="import" href="../tf-globals/tf-globals.html">
<link rel="import" href="../tf-scalar-dashboard/tf-scalar-dashboard.html">
<link rel="import" href="../tf-distribution-dashboard/tf-distribution-dashboard.html">
<link rel="import" href="../tf-histogram-dashboard/tf-histogram-dashboard.html">
<link rel="import" href="../tf-image-dashboard/tf-image-dashboard.html">
<link rel="import" href="../tf-audio-dashboard/tf-audio-dashboard.html">
<link rel="import" href="../tf-graph-dashboard/tf-graph-dashboard.html">
<link rel="import" href="../tf-dashboard-common/tensorboard-color.html">
<link rel="import" href="../tf-backend/tf-backend.html">
<link rel="import" href="../tf-storage/tf-storage.html">

<link rel="import" href="../iron-flex-layout/classes/iron-flex-layout.html">

<dom-module id="guild-tf-page2">
  <template>
    <style>
     :host {
         display: flex;
         flex-direction: column;
         height: 100%;
     }
     #toobar {
         flex: 0;
     }
     #content {
         flex: 1;
     }
    </style>
    <paper-toolbar id="toolbar">
      <paper-tabs selected="{{modeIndex}}" noink class="tabs" id="tabs">
        <template is="dom-repeat" items="[[tabs]]" as="tab">
          <paper-tab data-mode="[[tab.id]]">[[tab.label]]</paper-tab>
        </template>
      </paper-tabs>
      <div class="global-actions">
        <paper-icon-button
            icon="refresh"
            on-tap="reload"
            disabled$="[[_modeIsGraphs(mode)]]"
            id="reload-button">
        </paper-icon-button>
      </div>
    </paper-toolbar>

    <div id="content">
      <template is="dom-if" if="[[_modeIsScalars(mode)]]">
        <tf-scalar-dashboard
            id="scalars"
            backend="[[_backend]]"
            router="[[router]]"
        ></tf-scalar-dashboard>
      </template>

      <template is="dom-if" if="[[_modeIsImages(mode)]]">
        <tf-image-dashboard
            id="images"
            backend="[[_backend]]"
        ></tf-image-dashboard>
      </template>

      <template is="dom-if" if="[[_modeIsAudio(mode)]]">
        <tf-audio-dashboard
            id="audio"
            backend="[[_backend]]"
        ></tf-audio-dashboard>
      </template>

      <template is="dom-if" if="[[_modeIsGraphs(mode)]]">
        <tf-graph-dashboard
            id="graphs"
            backend="[[_backend]]"
        ></tf-graph-dashboard>
      </template>

      <template is="dom-if" if="[[_modeIsDistributions(mode)]]">
        <tf-distribution-dashboard
            id="distributions"
            backend="[[_backend]]"
        ></tf-distribution-dashboard>
      </template>

      <template is="dom-if" if="[[_modeIsHistograms(mode)]]">
        <tf-histogram-dashboard
            id="histograms"
            backend="[[_backend]]"
        ></tf-histogram-dashboard>
      </template>

    </div>
  </template>
  <script>
   Polymer({
       is: "guild-tf-page2",
       properties: {
           env: Object,
           router: {
               type: Object,
               value: function() {
                   return TF.Backend.router("/assets/tf-demo", true);
               },
           },
           _backend: {
               type: Object,
               computed: "_makeBackend(router, demoDir)",
           },
           modeIndex: {
               type: Number,
               value: 0
           },
           mode: {
               type: String,
               computed: '_getModeFromIndex(modeIndex, tabs)',
               notify: true,
           },
           tabs: {
               type: Array,
               readOnly: true,
               value: [
                   {
                       id: "scalars",
                       label: "Scalars"
                   },
                   {
                       id: "images",
                       label: "Images"
                   },
                   {
                       id: "audio",
                       label: "Audio"
                   },
                   {
                       id: "graphs",
                       label: "Graphs"
                   },
                   {
                       id: "distributions",
                       label: "Distributions"
                   },
                   {
                       id: "histograms",
                       label: "Histograms"
                   }
               ]
           },
           demoDir: {
               type: String,
               value: null,
           },
           useHash: {
               type: Boolean,
               value: false,
           }
       },

       _getModeFromIndex: function(modeIndex, tabs) {
           var mode = tabs[modeIndex].id;
           TF.URIStorage.setString(TF.URIStorage.TAB, mode.id);
           return mode;
       },

       _makeBackend: function(router, demoDir) {
           if (demoDir != null) {
               router = TF.Backend.router(demoDir, true);
           }
           return new TF.Backend.Backend(router);
       },

       _modeIsScalars: function(mode) {
           return mode === "scalars";
       },

       _modeIsImages: function(mode) {
           return mode === "images";
       },

       _modeIsAudio: function(mode) {
           return mode === "audio";
       },

       _modeIsGraphs: function(mode) {
           return mode === "graphs";
       },

       _modeIsEmbeddings: function(mode) {
           return mode === "embeddings";
       },

       _modeIsDistributions: function(mode) {
           return mode === "distributions";
       },

       _modeIsHistograms: function(mode) {
           return mode === "histograms";
       },

       selectedDashboard: function() {
           var dashboard = this.$$("#" + this.mode);
           if (dashboard == null) {
               throw new Error(`Unable to find dashboard for mode: ${this.mode}`);
           }
           return dashboard;
       },

       ready: function() {
           TF.Globals.USE_HASH = this.useHash;

           this._getModeFromHash();
           window.addEventListener('hashchange', function() {
               this._getModeFromHash();
           }.bind(this));
       },

       _getModeFromHash: function() {
           var tabName = TF.URIStorage.getString(TF.URIStorage.TAB);
           var modeIndex = this.tabs.indexOf(tabName);
           if (modeIndex == -1 && this.modeIndex == null) {
               // Select the first tab as default.
               this.set('modeIndex', 0);
           }
           if (modeIndex != -1 && modeIndex != this.modeIndex) {
               this.set('modeIndex', modeIndex);
           }
       },

       reload: function() {
           if (this.mode === "graphs" || this.mode === "embeddings") {
               return;
           }
           this.selectedDashboard().reload();
       }
   });
  </script>
</dom-module>
