<link rel="import" href="../guild-styles/guild-styles.html">
<link rel="import" href="../paper-input/paper-input.html">

<link rel="import" href="compare-table-support.html">

<dom-module id="guild-compare-table-2">
  <template>
    <style include="guild-run-status-styles"></style>
    <style>
     a.date {
         white-space: nowrap;
         color: var(--default-primary-color);
     }
     table.dataTable thead th {
         text-align: left;
         border: none;
     }
     .dataTables_scrollHead {
         background-color: #f9f9f9;
         color: rgba(0, 0, 0, 0.54);
         font-weight: 600;
         padding: 8px 0;
         border-bottom: 2px solid #eee !important;
     }
     .dataTables_scrollBody {
         border-bottom: 1px solid #eee !important;
     }
     .dataTables_wrapper .dataTables_filter {
         display: none;
     }
     #filter {
         width: 20em;
         position: relative;
         margin-top: -20px;
     }
    </style>
    <div id="scopeSubtree">
      <paper-input
          id="filter"
          label="Filter"
          type="search"
          on-keyup="filter"
          on-input="filter" ></paper-input>
      <table id="table" class="hover row-border"></table>
    </div>
  </template>
  <script>
   Polymer({
       is: "guild-compare-table-2",

       behaviors: [Guild.DataListener],

       properties: {
           env: Object,
           fields: Array,
           dataSource: {
               type: String,
               computed: 'computeDataSource(fields)'
           },
           dt: Object,
           cachedSearchInput: Object
       },

       computeDataSource: function(fields) {
           return Guild.CompareTable.fieldsDataSource(fields);
       },

       ready: function() {
           this.scopeSubtree(this.$.scopeSubtree, true);
           this.dt = Guild.CompareTable.init(
               this.$.table,
               this.fields,
               {height: "374px"});
       },

       handleData: function(data) {
           Guild.CompareTable.refresh(this.dt, data, this.fields);
       },

       filter: function(e) {
           var search = this.searchInput();
           search.value = e.target.value;
           search.dispatchEvent(new Event("input"));
       },

       searchInput: function() {
           if (this.cachedSearchInput == undefined) {
               this.cachedSearchInput = this.$$("input[type='search']");
           }
           return this.cachedSearchInput;
       }
   });
  </script>
</dom-module>
