<link rel="import" href="../guild-styles/guild-styles.html">

<link rel="import" href="compare-table-support.html">

<dom-module id="guild-compare-table-2">
  <template>
    <style include="guild-run-status-styles"></style>
    <style>
     a.date {
         white-space: nowrap;
         color: #3f51b5;
     }
    </style>
    <div id="scopeSubtree">
      <table id="table"></table>
    </div>
  </template>
  <script>
   Polymer({
       is: "guild-compare-table-2",

       behaviors: [Guild.DataListener],

       properties: {
           env: Object,
           fields: Array,
           dataSource: {
               type: String,
               computed: 'computeDataSource(fields)'
           },
           dt: Object
       },

       computeDataSource: function(fields) {
           return Guild.CompareTable.fieldsDataSource(fields);
       },

       ready: function() {
           this.scopeSubtree(this.$.scopeSubtree, true);
           this.dt = Guild.CompareTable.init(this.$.table, this.fields);
       },

       handleData: function(data) {
           Guild.CompareTable.refresh(this.dt, data, this.fields);
       }
   });
  </script>
</dom-module>
