<link rel="import" href="../paper-checkbox/paper-checkbox.html">

<dom-module id="guild-compare-table-select">
  <template>
    <style>
     :host {
         --paper-checkbox-label: {
             display: none;
         };
         --paper-checkbox-size: 16px;
     }
    </style>
    <paper-checkbox noink checked={{checked}}></paper-checkbox>
  </template>
  <script>
   Polymer({
       is: "guild-compare-table-select",

       properties: {
           header: {
               type: Boolean,
               value: false
           },
           checked: {
               type: Boolean,
               value: false,
               observer: 'changed'
           },
           dt: {
               type: Object,
               readOnly: true
           },
           row: {
               type: Object,
               readOnly: true
           }
       },

       attached: function() {
           var tr = $(this).parents('tr')
           var dt = tr.parents('guild-compare-table-2')[0].dt;
           var row = dt.row(tr);
           this._setDt(dt);
           this._setRow(row);
       },

       changed: function(_, old) {
           if (old == undefined) {
               return;
           }
           if (this.header) {
               this.toggleAll();
           } else {
               this.toggleRun();
           }
       },

       toggleRun: function() {
           var item = this.row.data();
           item.selected = this.checked;
           this.fire("run-select-changed");
       },

       toggleAll: function() {
           var checked = this.checked;
           var all = this.dt.rows().nodes().to$().find("guild-compare-table-select");
           all.each(function(_, select) {
               select.checked = checked;
           });
       }
   });
  </script>
</dom-module>
