<link rel="import" href="../guild-data/guild-data-listener.html">
<link rel="import" href="../guild-styles/guild-styles.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-toggle-button/paper-toggle-button.html">

<link rel="import" href="compare-table-support.html">

<dom-module id="guild-compare-table-2">
  <template>
    <style include="guild-run-status-styles"></style>
    <style include="compare-table-styles"></style>
    <style>
     .controls {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
     }

     .actions {
         margin-right: 10px;
     }

     #filter {
         width: 20em;
         position: relative;
         margin-top: -20px;
     }
    </style>
    <div id="scopeSubtree">
      <div class="controls">
        <paper-input
            id="filter"
            label="Filter"
            type="search"
            on-keyup="filter"
            on-input="filter">
        </paper-input>
        <div class="actions">
          <paper-toggle-button
              checked="{{hideFailed}}"
          >Hide failed runs</paper-toggle-button>
        </div>
      </div>
      <table
          id="table"
          class="hover row-border"
          cellpadding="0"
          cellspacing="0"
          border="0">
      </table>
    </div>
  </template>
  <script>
   Polymer({
       is: "guild-compare-table-2",

       behaviors: [Guild.DataListener],

       properties: {
           env: Object,
           fields: Array,
           dataSource: {
               type: String,
               computed: 'computeDataSource(fields)'
           },
           dt: Object,
           cachedSearchInput: Object,
           hideFailed: {
               type: Boolean,
               value: false,
               observer: 'hideFailedChanged'
           }
       },

       computeDataSource: function(fields) {
           return Guild.CompareTable.fieldsDataSource(fields);
       },

       ready: function() {
           this.scopeSubtree(this.$.scopeSubtree, true);
           this.dt = Guild.CompareTable.init(
               this.$.table,
               this.fields,
               {height: "374px"});
       },

       handleData: function(data) {
           Guild.CompareTable.refresh(this.dt, data, this.fields);
       },

       repeatData: function() {
           return true;
       },

       filter: function(e) {
           var search = this.searchInput();
           search.value = e.target.value;
           search.dispatchEvent(new Event("input"));
       },

       searchInput: function() {
           if (this.cachedSearchInput == undefined) {
               this.cachedSearchInput = this.$$("input[type='search']");
           }
           return this.cachedSearchInput;
       },

       hideFailedChanged: function(val, old) {
           if (this.dt != undefined) {
               var status = this.dt.column(0);
               if (val) {
                   status.search("Completed|Running", true).draw();
               } else {
                   status.search("").draw();
               }
           }
       }
   });
  </script>
</dom-module>
