<link rel="import" href="../guild-component-options/guild-component-options.html">
<link rel="import" href="../guild-component-panel/guild-component-panel.html">
<link rel="import" href="../guild-data/guild-data-listener.html">
<link rel="import" href="../guild-line-chart/guild-line-chart.html">
<link rel="import" href="../guild-smoothing-input/guild-smoothing-input.html">
<link rel="import" href="../guild-util/guild-fullscreen-behavior.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">

<dom-module id="guild-chart">
  <template>
    <style>
     #container {
         background-color: #fff;
         padding: 10px 10px 10px 0;
         height: 260px;
         display: flex;
         align-items: stretch;
     }

     guild-line-chart {
         flex: 1;
     }

     paper-icon-button {
         color: var(--secondary-text-color);
     }
    </style>
    <guild-component-panel id="panel" title="[[title]]">
      <div class="actions">
        <paper-icon-button
            icon="[[fullscreenIcon]]"
            on-click="toggleFullscreen">
        </paper-icon-button>
        <guild-component-options>
            <h3>Smoothing</h3>
            <guild-smoothing-input
                min="0"
                max="1"
                step="0.01"
                value="{{smoothing}}">
            </guild-smoothing-input>
        </guild-component-options>
      </div>
      <div id="container">
        <guild-line-chart
            id="chart"
            x-type="wall_time"
            smoothing="[[smoothing]]">
        </guild-line-chart>
      </div>
    </guild-component-panel>
  </template>
  <script>
   Polymer({
       is: "guild-chart",

       behaviors: [Guild.DataListener, Guild.FullscreenBehavior],

       properties: {
           title: String,
           smoothing: {
               type: Number,
               value: 0
           }
       },

       handleData: function(data) {
           var names = Object.keys(data);
           this.$.chart.setVisibleSeries(names);
           names.forEach(function(name) {
               var seriesData = this.seriesData(name, data);
               this.$.chart.setSeriesData(name, seriesData);
           }.bind(this));
       },

       repeatData: function() {
           return Guild.Run.isRunning(this.env.run);
       },

       seriesData: function(name, data) {
           return data[name].map(function(item, index) {
               return {
                   wall_time: new Date(item[0]),
                   step: item[1] || index,
                   scalar: item[2]
               }
           });
       },

       onFullscreen: function() {
           this.$.container.style.height = '520px';
           this.$.panel.noToggle = true;
           this.$.panel.opened = true;
       },

       onFullscreenExit: function() {
           this.$.container.style.height = '260px';
           this.$.panel.noToggle = false;
       }
   });
  </script>
</dom-module>
