<link rel="import" href="../guild-component-panel/guild-component-panel.html">
<link rel="import" href="../guild-data/guild-data-listener.html">
<link rel="import" href="../guild-util/guild-fullscreen-behavior.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../vz-line-chart/vz-line-chart.html">

<dom-module id="guild-chart">
  <template>
    <style>
     #container {
         background-color: #fff;
         padding: 20px 10px 20px 0;
         height: 260px;
         display: flex;
         align-items: stretch;
     }
     paper-icon-button {
         color: var(--disabled-text-color);
     }
    </style>
    <guild-component-panel id="panel" heading="[[title]]">
      <div class="actions">
        <paper-icon-button
            icon="[[fullscreenIcon]]"
            on-click="toggleFullscreen">
        </paper-icon-button>
      </div>
      <div id="container">
        <vz-line-chart id="chart" x-type="wall_time"></vz-line-chart>
      </div>
    </guild-component-panel>
  </template>
  <script>
   Polymer({
       is: "guild-chart",

       behaviors: [Guild.DataListener, Guild.FullscreenBehavior],

       properties: {
           title: String,
       },

       handleData: function(data) {
           var names = Object.keys(data);
           this.$.chart.setVisibleSeries(names);
           names.forEach(function(name) {
               var seriesData = this.seriesData(name, data);
               this.$.chart.setSeriesData(name, seriesData);
           }.bind(this));
       },

       repeatData: function() {
           return Guild.Run.isRunning(this.env.run);
       },

       seriesData: function(name, data) {
           return data[name].map(function(item, index) {
               return {
                   wall_time: new Date(item[0]),
                   step: item[1] || index,
                   scalar: item[2]
               }
           });
       },

       onFullscreen: function() {
           this.$.container.style.height = '520px';
           this.$.panel.noToggle = true;
           this.$.panel.opened = true;
       },

       onFullscreenExit: function() {
           this.$.container.style.height = '260px';
           this.$.panel.noToggle = false;
       }
   });
  </script>
</dom-module>
