<link rel="import" href="guild-chart.html">

<dom-module id="guild-charts">
  <template>
    <div class="row">
      <template is="dom-repeat" items="[[charts]]">
        <div class$="[[colClass]]">
          <guild-chart chart="[[item]]"></guild-chart>
        </div>
      </template>
    </div>
  </template>
  <script>
   Polymer({
       is: "guild-charts",
       properties: {
           secondary: {
               type: Boolean,
               value: false
           },
           chartsData: {
               type: Object,
               value: {
                   primary: [],
                   secondary: [
                       {
                           title: "Loss"
                       },
                       {
                           title: "Accuracy"
                       },
                       {
                           title: "Process CPU %"
                       },
                       {
                           title: "Process memory"
                       },
                       {
                           title: "GPU %"
                       },
                       {
                           title: "GPU memory"
                       },
                       {
                           title: "GPU power draw"
                       }
                   ]
               }
           },
           charts: {
               type: Array,
               computed: 'computeCharts(secondary, chartsData)'
           },
           colClass: {
               type: String,
               computed: 'computeColClass(secondary)'
           }
       },
       computeCharts: function(secondary, chartsData) {
           if (secondary) {
               return chartsData.secondary;
           } else {
               return chartsData.primary;
           }
       },
       computeColClass: function(secondary) {
           if (secondary) {
               return "col-12 col-xl-6";
           } else {
               return "col-12";
           }
       }
   });
  </script>
</dom-module>
