<link rel="import" href="guild-chart.html">

<dom-module id="guild-charts">
  <template>
    <div class="row">
      <template is="dom-repeat" items="[[charts]]" as="chart">
        <div class$="[[colClass]]">
          <guild-chart chart="[[chart]]"></guild-chart>
        </div>
      </template>
    </div>
  </template>
  <script>
   Polymer({
       is: "guild-charts",
       properties: {
           secondary: {
               type: Boolean,
               value: false
           },
           chartsData: {
               type: Object,
               value: {
                   primary: [
                       {
                           title: "Loss",
                           sampleData: "loss"
                       },
                       {
                           title: "Accuracy",
                           sampleData: "accuracy"
                       }
                   ],
                   secondary: [
                       {
                           title: "Process CPU %",
                           sampleData: "cpu_util"
                       },
                       {
                           title: "Process memory",
                           sampleData: "op_mem"
                       },
                       {
                           title: "GPU %",
                           sampleData: "gpu_util"
                       },
                       {
                           title: "GPU memory",
                           sampleData: "gpu_mem"
                       },
                       {
                           title: "GPU power draw",
                           sampleData: "gpu_power"
                       }
                   ]
               }
           },
           charts: {
               type: Array,
               computed: 'computeCharts(secondary, chartsData)'
           },
           colClass: {
               type: String,
               computed: 'computeColClass(secondary)'
           }
       },
       computeCharts: function(secondary, chartsData) {
           if (secondary) {
               return chartsData.secondary;
           } else {
               return chartsData.primary;
           }
       },
       computeColClass: function(secondary) {
           if (secondary) {
               return "col-12 col-xl-6";
           } else {
               return "col-12";
           }
       }
   });
  </script>
</dom-module>
