<link rel="import" href="../guild-component-panel/guild-component-panel.html">
<link rel="import" href="../guild-data/guild-data-listener.html">
<link rel="import" href="../vz-line-chart/vz-line-chart.html">

<dom-module id="guild-chart">
  <template>
    <style>
     #container {
         background-color: #fff;
         padding: 20px 10px 20px 0;
         height: 260px;
         display: flex;
         align-items: stretch;
     }
    </style>
    <guild-component-panel heading="[[title]]">
      <div id="container">
        <vz-line-chart id="chart"></vz-line-chart>
      </div>
    </guild-component-panel>
  </template>
  <script>
   Polymer({
       is: "guild-chart",

       properties: {
           title: String
       },

       behaviors: [Guild.DataListener],

       handleData: function(data) {
           var names = Object.keys(data);
           this.$.chart.setVisibleSeries(names);
           names.forEach(function(name) {
               var seriesData = this.seriesData(name, data);
               this.$.chart.setSeriesData(name, seriesData);
           }.bind(this));
       },

       repeatData: function() {
           return Guild.Run.isRunning(this.env.run);
       },

       seriesData: function(name, data) {
           return data[name].map(function(item, index) {
               return {
                   wall_time: new Date(item[0]),
                   step: item[1] || index,
                   scalar: item[2]
               }
           });
       }
   });
  </script>
</dom-module>
