<link rel="import" href="../guild-component-panel/guild-component-panel.html">
<link rel="import" href="../iron-data-table/iron-data-table.html">
<link rel="import" href="../iron-data-table/default-styles.html">
<link rel="import" href="../guild-imports/d3.html">

<dom-module id="guild-output">
  <template>
    <style>
     :host {
         --default-header: var(--iron-data-table-header);
     }
     iron-data-table {
         background-color: #fff;
         font-size: 14px;
         line-height: 1.4;
         --iron-data-table-header: {
             @apply(--default-header);
             font-size: 14px;
             background-color: #fff;
             color: var(--primary-text-color);
         }
     }
     .date {
         white-space: nowrap;
     }
    </style>
    <guild-component-panel heading="Output">
      <iron-data-table id="table">
        <data-table-column name="Time" flex="1" sort-by="index">
          <template><span class="date">[[item.time]]</span></template>
        </data-table-column>
        <data-table-column name="Message" flex="10" filter-by="message">
          <template>[[item.message]]</template>
        </data-table-column>
      </iron-data-table>
    </guild-component-panel>
  </template>
  <script>
   Polymer({
       is: "guild-output",

       properties: {
           env: Object
       },

       ready: function() {
           var runId = this.env.selectedRun.id;
           var url = "/data/output?run=" + runId;
           Guild.Data.fetch(url, function(data) {
               this.$.table.items = this.formatItems(data);
           }.bind(this));

       },

       formatItems: function(data) {
           var formatTime = d3.time.format("%b %d %H:%M:%S.%L");
           return data.map(function(item, index) {
               return {
                   index: index,
                   time: formatTime(new Date(item[0])),
                   stream: item[1],
                   message: item[2]
               }
           });
       }
   });
  </script>
</dom-module>
