<link rel="import" href="../guild-component-panel/guild-component-panel.html">
<link rel="import" href="../guild-data/guild-data-listener.html">
<link rel="import" href="../guild-imports/d3.html">
<link rel="import" href="../guild-data-table/default-styles.html">
<link rel="import" href="../guild-data-table/guild-data-table.html">

<dom-module id="guild-output">
  <template>
    <style>
     :root {
         --default-iron-data-table-header: var(--iron-data-table-header);
     }
     guild-data-table {
         background-color: #fff;
         font-size: 14px;
         line-height: 1.4;
         --iron-data-table-header: {
             @apply(--default-iron-data-table-header);
             font-size: 14px;
             background-color: #fff;
             color: var(--primary-text-color);
         }
     }
     .date {
         white-space: nowrap;
     }
    </style>
    <guild-component-panel heading="Output">
      <guild-data-table id="table">
        <data-table-column name="Time" flex="0" width="12em" sort-by="index">
          <template><span class="date">[[item.time]]</span></template>
        </data-table-column>
        <data-table-column name="Message" flex="1" filter-by="message">
          <template>[[item.message]]</template>
        </data-table-column>
      </guild-data-table>
    </guild-component-panel>
  </template>
  <script>
   Polymer({
       is: "guild-output",

       behaviors: [Guild.DataListener],

       properties: {
           dataSource: {
               type: String,
               value: "output",
               readOnly: true
           }
       },

       handleData: function(data) {
           this.$.table.items = this.formatItems(data);
       },

       formatItems: function(data) {
           var formatTime = d3.time.format("%b %d %H:%M:%S.%L");
           return data.map(function(item, index) {
               return {
                   index: index,
                   time: formatTime(new Date(item[0])),
                   stream: item[1],
                   message: item[2]
               }
           });
       }
   });
  </script>
</dom-module>
