<link rel="import" href="../guild-data/guild-data-listener.html">
<link rel="import" href="../guild-styles/guild-styles.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-toggle-button/paper-toggle-button.html">

<link rel="import" href="compare-table-support.html">

<dom-module id="guild-compare-table">
  <template>
    <style include="guild-run-status-styles"></style>
    <style include="compare-table-styles"></style>
    <style>
     .controls {
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: space-between;
         align-items: center;
         margin-top: -10px;
         margin-bottom: 5px;
     }

     .actions {
         margin-top: 10px;
         margin-right: 10px;
     }

     #filter {
         width: 20em;
     }

     #filter iron-icon {
         margin-right: 5px;
         color: var(--paper-input-container-color, --secondary-text-color);
     }
    </style>
    <div id="scopeSubtree">
      <div class="controls">
        <paper-input
            id="filter"
            label="Filter"
            no-label-float
            type="search"
            on-input="filter">
          <iron-icon icon="search" prefix></iron-icon>
        </paper-input>
        <div class="actions">
          <paper-toggle-button
              checked="{{hideFailed}}"
          >Hide failed runs</paper-toggle-button>
        </div>
      </div>
      <table
          id="table"
          class="hover row-border"
          cellpadding="0"
          cellspacing="0"
          border="0">
      </table>
    </div>
  </template>
  <script>
   Polymer({
       is: "guild-compare-table",

       behaviors: [Guild.DataListener],

       properties: {
           env: Object,
           fields: Array,
           dataSource: {
               type: String,
               computed: 'computeDataSource(fields)'
           },
           dt: Object,
           cachedSearchInput: Object,
           hideFailed: {
               type: Boolean,
               value: false,
               observer: 'hideFailedChanged'
           }
       },

       computeDataSource: function(fields) {
           return Guild.CompareTable.fieldsDataSource(fields);
       },

       ready: function() {
           this.scopeSubtree(this.$.scopeSubtree, true);
           this.dt = Guild.CompareTable.init(
               this.$.table,
               this.fields,
               {height: "374px"});
           this.dt.on("search.dt", this.handleSearch.bind(this));
       },

       handleData: function(data) {
           Guild.CompareTable.refresh(this.dt, data, this.fields);
       },

       repeatData: function() {
           return true;
       },

       filter: function(e) {
           var search = this.searchInputElement();
           search.value = e.target.value;
           search.dispatchEvent(new Event("input"));
       },

       searchInputElement: function() {
           if (this.cachedSearchInput == undefined) {
               this.cachedSearchInput = this.$$("input[type='search']");
           }
           return this.cachedSearchInput;
       },

       hideFailedChanged: function(val, old) {
           if (this.dt != undefined) {
               var status = this.dt.column(1);
               if (val) {
                   status.search("Completed|Running", true).draw();
               } else {
                   status.search("").draw();
               }
           }
       },

       selected: function() {
           var filtered = this.dt.rows().data().filter(function(item) {
               return item.selected;
           });
           return filtered.toArray();
       },

       handleSearch: function() {
           this.debounce("check-hidden", this.checkHidden, 100);
       },

       checkHidden: function() {
           var deselected = this.deselectRemovedItems();
           if (deselected) {
               // We need to fire this event because the removed items
               // aren't in the DOM and so their events don't propagate.
               this.fire("run-select-changed");
           }
           this.refreshSelectHeader();
       },

       deselectRemovedItems: function() {
           var removed = Guild.CompareTable.removedItems(this.dt);
           var deselected = false;
           for (var i in removed) {
               var item = removed[i];
               if (item.selected) {
                   Guild.CompareTable.deselect(this.dt, item)
                   deselected = true;
               }
           }
           return deselected;
       },

       refreshSelectHeader: function() {
           var header = $(this.dt.table().header()).find("guild-compare-table-select")[0];
           header.refreshHeader();
       }
   });
  </script>
</dom-module>
