<link rel="import" href="../guild-component-panel/guild-component-panel.html">
<link rel="import" href="../vz-keyval-table/vz-keyval-table.html">

<dom-module id="guild-attrs">
  <template>
    <guild-component-panel heading="Attributes">
      <vz-keyval-table id="table"></vz-keyval-table>
    </guild-component-panel>
  </template>
  <script>
   Polymer({
       is: "guild-attrs",

       properties: {
           env: Object
       },

       ready: function() {
           var runId = this.env.selectedRun.id;
           var url = "/data/attrs?run=" + runId;
           Guild.Data.fetch(url, function(data) {
               this.$.table.object = data;
           }.bind(this));
       }
   });
  </script>
</dom-module>
