<link rel="import" href="../guild-util/guild-util.html">

<link rel="import" href="guild-data.html">

<script>
 var Guild = Guild || {};
 Guild.DataListener = {

     properties: {
         env: Object,
         dataSource: Object,
         dataAttribute: String,
         dataReduce: String,
         dataFormat: String,
         dataFetchInterval: Number
     },

     ready: function() {
         if (this.dataFetchInterval == undefined) {
             this.dataFetchInterval = this.env.settings.refreshInterval || 0;
         }
         if (this.dataSource) {
             this.fetchData(0);
         }
     },

     fetchData: function(whenSeconds) {
         var url = this.dataFetchUrl();
         var handler = this.handleFetchResult.bind(this);
         Guild.Data.scheduleFetch(url, handler, whenSeconds * 1000);
     },

     dataFetchUrl: function() {
         var base = "/data/" + this.dataSource;
         var runParam = "run=" + this.env.runId;
         return base.indexOf("?") == -1
              ? base + "?" + runParam
              : base + "&" + runParam;
     },

     handleFetchResult: function(result) {
         var data = this.maybeReduce(result);
         this.handleData(data);
         this.maybeScheduleNextFetch();
     },

     maybeScheduleNextFetch: function() {
         var interval = this.dataFetchInterval;
         if (interval > 0 && this.repeatData()) {
             this.fetchData(interval);
         }
     },

     repeatData: function() {
         return false;
     },

     maybeReduce: function(data) {
         var reduce = Guild.Reduce[this.dataReduce];
         return reduce ? reduce(data) : data;
     },

     handleData: function(data) {
         // stub to be overridden by host
     },

     formatDataValue: function(data, defaultValue) {
         var val = this.dataValue(data);
         if (val != undefined) {
             return Guild.Util.tryFormat(val, this.dataFormat);
         } else {
             return defaultValue;
         }
     },

     dataValue: function(data) {
         if (typeof data === "object" && data != null) {
            return data[Object.keys(data)[0]];
        } else {
            return data;
        }
     }
 };
</script>
