<link rel="import" href="../guild-component-panel/guild-component-panel.html">
<link rel="import" href="../guild-event/guild-event.html">
<link rel="import" href="../guild-styles/guild-styles.html">

<dom-module id="guild-status">
  <template>
    <style include="guild-run"></style>
    <style>
     #status {
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: space-between;

     }
     iron-icon {
         --iron-icon-width: 36px;
         --iron-icon-height: auto;
     }
     #label {
         font-size: 28px;
     }
    </style>
    <guild-component-panel heading="Status" fixed>
      <div id="status">
        <div id="icon">
          <iron-icon icon="[[status.icon]]" class$="[[status.iconClass]]"></iron-icon>
        </div>
        <div id="label">[[status.label]]</div>
      </div>
    </guild-component-panel>
  </template>
  <script>
   Polymer({
       is: "guild-status",

       properties: {
           status: {
               type: Object,
               value: {
                   icon: "",
                   iconClass: "",
                   label: "--"
               }
           }
       },

       ready: function() {
           var handleRun = this.handleRun.bind(this);
           Guild.Event.notify("query-selected-run", handleRun);
           Guild.Event.register("run-changed", handleRun);
       },

       handleRun: function(run) {
           this.status = Guild.Run.runStatus(run);
       }
   });
  </script>
</dom-module>
