<link rel="import" href="../guild-component-panel/guild-component-panel.html">

<dom-module id="guild-status">
  <template>
    <style>
     #status {
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: space-between;

     }
     iron-icon {
         --iron-icon-width: 36px;
         --iron-icon-height: auto;
     }
     iron-icon.status-completed {
         --iron-icon-fill-color: var(--paper-green-700);
     }
     #label {
         font-size: 28px;
     }
    </style>
    <guild-component-panel heading="Status" fixed>
      <div id="status">
        <div id="icon">
          <iron-icon icon="[[icon]]" class$="status-[[status]]"></iron-icon>
        </div>
        <div id="label">[[label]]</div>
      </div>
    </guild-component-panel>
  </template>
  <script>
   Polymer({
       is: "guild-status",
       properties: {
           status: {
               type: String,
               value: "completed"
           },
           icon: {
               type: String,
               computed: 'computeIcon(status)'
           },
           label: {
               type: String,
               computed: 'computeLabel(status)'
           }
       },
       computeIcon: function(status) {
           if (status == "completed") {
               return "check-circle";
           } else {
               return "";
           }
       },
       computeLabel: function(status) {
           if (status == "completed") {
               return "Completed";
           } else {
               return status;
           }
       }
   });
  </script>
</dom-module>
