<link rel="import" href="../guild-page-header/guild-page-header.html">
<link rel="import" href="../guild-run-select/guild-run-select.html">
<link rel="import" href="../guild-run-status/guild-run-status.html">

<dom-module id="guild-run-select-page-header">
  <template>
    <style>
     #content {
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         align-items: center;
         justify-content: space-between;
     }
    </style>
    <guild-page-header
        title="[[env.project.title]]"
        title-tooltip="[[env.project.description]]">
      <div id="content">
        <guild-run-select env="[[env]]"></guild-run-select>
        <guild-run-status env="[[env]]"></guild-run-status>
      </div>
    </guild-page-header>
  </template>
  <script>
   Polymer({
       is: "guild-run-select-page-header",

       properties: {
           env: Object,
       }
   });
  </script>
</dom-module>
