<link rel="import" href="../guild-page-header/guild-page-header.html">
<link rel="import" href="../guild-tf/guild-tf.html">
<link rel="import" href="../iron-pages/iron-pages.html">
<link rel="import" href="../paper-styles/shadow.html">

<link rel="import" href="guild-tf-tabs.html">
<link rel="import" href="guild-tf-scalars.html">
<link rel="import" href="guild-tf-images.html">
<link rel="import" href="guild-tf-audio.html">
<link rel="import" href="guild-tf-graphs.html">
<link rel="import" href="guild-tf-distributions.html">
<link rel="import" href="guild-tf-histograms.html">
<link rel="import" href="guild-tf-embeddings.html">

<dom-module id="guild-tf-page">
  <template>
    <style>
     :root {
         --tf-multi-checkbox-outer-container: {
             height: inherit;
         }

         --tf-sidebar-helper-sidebar-section: {
             padding: 20px 0;
         }

         --tf-sidebar-helper-first-sidebar-section: {
             padding-top: 0;
         }

         --tf-option-selector-content-wrapper: {
             display: flex;
             flex-wrap: wrap;
         }

         --tf-regex-group-regex-inpput: {
              margin-left: 0;
         }

         --tf-dashboard-style-sidebar-section: {
             padding: 20px 0;
         }

         --tf-collapsable-pane: {
             margin: 0 0 20px 0;
         }

         --tf-collapsable-pane-first: {
             margin: 0 0 20px 0;
         }

         --tf-collapsable-pane-heading: {
             background-color: var(--component-background-color);
             font-size: 18px;
             @apply(--shadow-elevation-2dp);
         }

         --tf-categorizer: {
             padding-bottom: 0;
         }

         --tf-categorizer-underscore-categorization: {
             display: none;
         }
     }
    </style>
    <guild-page-header title="[[env.project.title]]">
      <guild-tf-tabs selected="{{selectedTab}}"></guild-tf-tabs>
    </guild-page-header>
    <iron-pages selected="[[selectedTab]]" attr-for-selected="id">
      <guild-tf-scalars id="scalars" env="[[env]]"></guild-tf-scalars>
      <guild-tf-images id="images" env="[[env]]"></guild-tf-images>
      <guild-tf-audio id="audio" env="[[env]]"></guild-tf-audio>
      <guild-tf-graphs id="graphs" env="[[env]]"></guild-tf-graphs>
      <guild-tf-distributions id="distributions" env="[[env]]"></guild-tf-distributions>
      <guild-tf-histograms id="histograms" env="[[env]]"></guild-tf-histograms>
      <guild-tf-embeddings id="embeddings" env="[[env]]"></guild-tf-embeddings>
    </iron-pages>
  </template>
  <script>
   Polymer({
       is: "guild-tf-page",

       properties: {
           env: Object,
           selectedTab: {
               type: String,
               value: "scalars"
           }
       },

       created: function() {
           if (this.env == undefined) {
               throw("env not set - see guild-tf-page/NOTES.md");
           }
           Guild.TF.initEnv(this.env);
       }
   });
  </script>
</dom-module>
