<link rel="import" href="../tf-histogram-dashboard/tf-histogram-dashboard.html">

<dom-module id="guild-tf-histograms">
  <template>
    <style>
     #container {
         position: relative;
         top: -5px;
         padding: 0 2px 0 5px;
     }
    </style>
    <div id="container">
      <tf-histogram-dashboard
          backend="[[env.tf.backend]]"
          router="[[env.tf.router]]">
      </tf-histogram-dashboard>
    </div>
  </template>
  <script>
   Polymer({
       is: "guild-tf-histograms",

       properties: {
           env: Object
       }
   });
  </script>
</dom-module>
