<link rel="import" href="../guild-page-header/guild-page-header.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-resizable-behavior/iron-resizable-behavior.html">
<link rel="import" href="../paper-header-panel/paper-header-panel.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-tabs/paper-tabs.html">
<link rel="import" href="../paper-styles/paper-styles.html">
<link rel="import" href="../tf-audio-dashboard/tf-audio-dashboard.html">
<link rel="import" href="../tf-backend/tf-backend.html">
<link rel="import" href="../tf-distribution-dashboard/tf-distribution-dashboard.html">
<link rel="import" href="../tf-graph-dashboard/tf-graph-dashboard.html">
<link rel="import" href="../tf-histogram-dashboard/tf-histogram-dashboard.html">
<link rel="import" href="../tf-image-dashboard/tf-image-dashboard.html">
<link rel="import" href="../tf-scalar-dashboard/tf-scalar-dashboard.html">
<link rel="import" href="../tf-storage/tf-storage.html">

<!-- Special import because we're patching paper-styles to remove
     the flex layout classes, which are deprecated. TF components
     still rely on these however. -->
<link rel="import" href="../iron-flex-layout/classes/iron-flex-layout.html">

<dom-module id="guild-tf-page">
  <template>
    <style>
     :root {
         --toolbar-text-color: #444;
         --toolbar-text-accent-color: #ccc;
         --toolbar-tab-ink: #ccc;

         --tf-multi-checkbox-outer-container: {
             height: inherit;
             margin-bottom: 20px;
         }

         --tf-sidebar-helper-sidebar-section: {
             padding: 20px 0;
         }

         --tf-dashboard-layout-sidebar: {
             padding: 20px 20px 0 20px;
             margin: 0 20px 0 0;
             background-color: var(--component-background-color);
             @apply(--shadow-elevation-2dp);
             height: calc(100% - 4px);
             top: 1px;
             margin-left: 1px;
         }

         --tf-sidebar-helper-first-sidebar-section: {
             padding-top: 0;
         }

         --tf-option-selector-content-wrapper: {
             display: flex;
             flex-wrap: wrap;
         }

         --tf-regex-group-regex-inpput: {
              margin-left: 0;
         }

         --tf-dashboard-style-sidebar-section: {
             padding: 20px 0;
         }

         --tf-collapsable-pane: {
             margin: 0 0 20px 0;
         }

         --tf-collapsable-pane-first: {
             margin: 0 0 20px 0;
         }

         --tf-collapsable-pane-heading: {
             background-color: var(--component-background-color);
             font-size: 18px;
             padding: 12px 18px;
             @apply(--shadow-elevation-2dp);
             width: calc(100% - 4px);
             margin-left: 1px;
         }

         --tf-categorizer: {
             padding-bottom: 0;
         }

         --tf-categorizer-underscore-categorization: {
             display: none;
         }

         --tf-graph-controls-allcontrols: {
             width: 240px;
             padding: 0;
             margin-top: -20px;
         }

         --tf-graph-controls-legend-holder: {
             padding-bottom: 20px;
         }

         --tf-graph-board-container: {
             padding: 0;
         }

         --tf-graph-container: {
             padding: 0;
             @apply(--shadow-elevation-2dp);
             top: 1px;
             width: calc(100% - 4px);
             height: calc(100% - 4px);
         }
     }

     :host {
         display: block;
         height: 100%;
         padding: 0 15px 15px 15px;
     }

     paper-header-panel {
         --paper-header-panel-shadow: {
             display: none;
         } ;
     }

     guild-page-header {
         margin-bottom: 20px;
     }

     #nav {
         display: flex;
         justify-content: space-between;
     }

     paper-tabs {
         color: var(--toolbar-text-color);
         font-size: 14px;
         height: 38px;
         margin-left: 0px;
         --paper-tabs-selection-bar-color: var(--toolbar-text-accent-color );
     }

     paper-tab {
         padding: 0 15px;
         --paper-tab-ink: var(--toolbar-tab-ink);
     }

     #content {
         height: 100%;
     }
    </style>

    <paper-header-panel>
      <guild-page-header
          class="paper-header"
          title="[[env.project.title]]"
          title-tooltip="[[env.project.description]]">
        <div id="nav">
          <paper-tabs selected="{{selected}}">
            <template is="dom-repeat" items="[[tabs]]" as="tab">
              <paper-tab data-mode="[[tab.id]]">[[tab.label]]</paper-tab>
            </template>
          </paper-tabs>
          <paper-icon-button
              icon="refresh"
              on-tap="reload"
              disabled$="[[isGraphs(mode)]]"
              id="reload-button">
          </paper-icon-button>
        </div>
      </guild-page-header>

      <div id="content">
        <template is="dom-if" if="[[isScalars(mode)]]">
          <tf-scalar-dashboard
              id="scalars"
              backend="[[backend]]"
              router="[[router]]">
          </tf-scalar-dashboard>
        </template>

        <template is="dom-if" if="[[isImages(mode)]]">
          <tf-image-dashboard
              id="images"
              backend="[[backend]]">
          </tf-image-dashboard>
        </template>

        <template is="dom-if" if="[[isAudio(mode)]]">
          <tf-audio-dashboard
              id="audio"
              backend="[[backend]]">
          </tf-audio-dashboard>
        </template>

        <template is="dom-if" if="[[isGraphs(mode)]]">
          <tf-graph-dashboard
              id="graphs"
              backend="[[backend]]">
          </tf-graph-dashboard>
        </template>

        <template is="dom-if" if="[[isDistributions(mode)]]">
          <tf-distribution-dashboard
              id="distributions"
              backend="[[backend]]">
          </tf-distribution-dashboard>
        </template>

        <template is="dom-if" if="[[isHistograms(mode)]]">
          <tf-histogram-dashboard
              id="histograms"
              backend="[[backend]]">
          </tf-histogram-dashboard>
        </template>
      </div>
    </paper-header-panel>
  </template>
  <script>
   Polymer({
       is: "guild-tf-page",

       behaviors: [Polymer.IronResizableBehavior],

       listeners: {
           'iron-resize': 'onResize'
       },

       properties: {
           env: Object,
           router: {
               type: Object,
               computed: 'computeRouter(env)'
           },
           backend: {
               type: Object,
               computed: 'computeBackend(router)'
           },
           selected: {
               type: Number,
               value: 0
           },
           mode: {
               type: String,
               computed: 'computeMode(selected, tabs)'
           },
           tabs: {
               type: Array,
               readOnly: true,
               value: [
                   {
                       id: "scalars",
                       label: "Scalars"
                   },
                   {
                       id: "images",
                       label: "Images"
                   },
                   {
                       id: "audio",
                       label: "Audio"
                   },
                   {
                       id: "graphs",
                       label: "Graphs"
                   },
                   {
                       id: "distributions",
                       label: "Distributions"
                   },
                   {
                       id: "histograms",
                       label: "Histograms"
                   }
               ]
           }
       },

       computeRouter: function(env) {
           if (env.settings.tensorboard.demo) {
               return TF.Backend.router("/assets/tf-demo", true);
           } else {
               return TF.Backend.router("/data/tf");
           }
       },

       computeBackend: function(router) {
           return new TF.Backend.Backend(router);
       },

       computeMode: function(selected, tabs) {
           var mode = tabs[selected].id;
           return mode;
       },

       isScalars: function(mode) {
           return mode == "scalars";
       },

       isImages: function(mode) {
           return mode == "images";
       },

       isAudio: function(mode) {
           return mode == "audio";
       },

       isGraphs: function(mode) {
           return mode == "graphs";
       },

       isDistributions: function(mode) {
           return mode == "distributions";
       },

       isHistograms: function(mode) {
           return mode == "histograms";
       },

       onResize: function(e) {
           var height = window.innerHeight - 64;
           this.style.height = height + 'px';
       },

       reload: function() {
           var active = this.$$('#' + this.mode);
           if (active && active.reload) {
               active.reload();
           }
       }
   });
  </script>
</dom-module>
