<link rel="import" href="../tf-image-dashboard/tf-image-dashboard.html">

<dom-module id="guild-tf-images">
  <template>
    <style>
     #container {
         position: relative;
         top: -5px;
         padding: 0 2px 0 5px;
     }
    </style>
    <div id="container">
      <tf-image-dashboard
          backend="[[env.tf.backend]]"
          router="[[env.tf.router]]">
      </tf-image-dashboard>
    </div>
  </template>
  <script>
   Polymer({
       is: "guild-tf-images",

       properties: {
           env: Object
       }
   });
  </script>
</dom-module>
