<link rel="import" href="../paper-tabs/paper-tabs.html">

<dom-module id="guild-tf-tabs">
  <template>
    <style>
     :host {
         display: flex;
     }
     paper-tabs {
         color: var(--toolbar-text-color);
         font-size: 14px;
         --paper-tabs-selection-bar-color: var(--toolbar-text-color);
     }
     :host paper-tab {
         --paper-tab-ink: var(--toolbar-tab-ink);
         margin-left: 10px;
     }
     :host paper-tab:first-of-type {
         margin-left: 0;
     }
    </style>
    <paper-tabs selected="{{selected}}" attr-for-selected="tab-id">
      <template is="dom-repeat" items="[[tabs]]" as="tab">
        <paper-tab tab-id="[[tab.id]]">[[tab.label]]</paper-tab>
      </template>
    </paper-tabs>
  </template>
  <script>
   Polymer({
       is: "guild-tf-tabs",

       properties: {
           selected: {
               type: String,
               value: "scalars",
               notify: true
           },
           tabs: {
               type: Array,
               value: [
                   {
                       id: "scalars",
                       label: "Scalars"
                   },
                   {
                       id: "images",
                       label: "Images"
                   },
                   {
                       id: "audio",
                       label: "Audio"
                   },
                   {
                       id: "graphs",
                       label: "Graphs"
                   },
                   {
                       id: "distributions",
                       label: "Distributions"
                   },
                   {
                       id: "histograms",
                       label: "Histograms"
                   }
               ]
           }
       }
   });
  </script>
</dom-module>
