<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../guild-expansion-panel/guild-expansion-panel.html">

<dom-module id="guild-component-panel">
  <style>
   paper-material {
       background-color: white;
   }

   #container {
       padding: 0 20px 20px;
   }
  </style>
  <template>
    <paper-material>
      <guild-expansion-panel
          title="[[title]]"
          no-toggle="[[noToggle]]"
          opened="{{opened}}">
        <content select=".actions"></content>
        <div id="container">
          <content></content>
        </div>
      </guild-expansion-panel>
    </paper-material>
  </template>
  <script>
   Polymer({
       is: "guild-component-panel",
       properties: {
           heading: String,
           noToggle: Boolean,
           opened: {
               type: Boolean,
               value: true
           }
       }
   });
  </script>
</dom-module>
