<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../guild-expansion-panel/guild-expansion-panel.html">

<dom-module id="guild-component-panel">
  <style>
   paper-material {
       background-color: var(--component-background-color, #f6f6f6);
   }
   #container {
       padding: 0 20px 20px;
   }
  </style>
  <template>
    <paper-material>
      <guild-expansion-panel
          heading="[[heading]]"
          fixed="[[fixed]]"
          fullscreen="[[fullscreen]]"
          opened>
        <div id="container">
          <content></content>
        </div>
      </guild-expansion-panel>
    </paper-material>
  </template>
  <script>
   Polymer({
       is: "guild-component-panel",
       properties: {
           heading: String,
           fixed: Boolean,
           fullscreen: Boolean
       }
   });
  </script>
</dom-module>
