<link rel="import" href="../guild-data/guild-data-listener.html">
<link rel="import" href="../guild-run/guild-run.html">
<link rel="import" href="../vz-field/vz-field.html">

<dom-module id="guild-field">
  <template>
    <vz-field label="[[label]]" value="[[value]]" color="[[color]]" icon="[[icon]]"></vz-field>
  </template>
  <script>
   Polymer({
       is: "guild-field",

       behaviors: [Guild.DataListener],

       properties: {
           label: String,
           color: String,
           icon: String,
           value: {
               type: String,
               readOnly: true,
               value: "--"
           }
       },

       handleData: function(data) {
           this._setValue(this.formatDataValue(data, "--"));
       },

       repeatData: function() {
           return Guild.Run.isRunning(this.env.run);
       }
   });
  </script>
</dom-module>
