<link rel="import" href="../vz-field/vz-field.html">

<link rel="import" href="../guild-data/guild-data.html">
<link rel="import" href="../guild-util/guild-util.html">


<dom-module id="guild-field">
  <template>
    <vz-field label="[[label]]" value="[[value]]" color="[[color]]" icon="[[icon]]"></vz-field>
  </template>
  <script>
   Polymer({
       is: "guild-field",

       behaviors_: ['Guild.Data_XXX_Behavior'],

       properties: {
           env: Object,
           dataSource: String,
           dataAttribute: String,
           dataReduce: String,
           dataFormat: String,
           label: String,
           color: String,
           icon: String,
           value: {
               type: String,
               readOnly: true,
               value: "--"
           }
       },

       ready: function() {
           var runId = this.env.selectedRun.id;
           var url = "/data/" + this.dataSource + "?run=" + runId;
           Guild.Data.fetch(url, function(data) {
               var reduce = Guild.Reduce[this.dataReduce];
               var reduced = reduce(data);
               var raw = reduced[Object.keys(reduced)[0]];
               var formatted = Guild.Util.tryFormat(raw, this.dataFormat);
               this._setValue(formatted);
           }.bind(this));
       }
   });
  </script>
</dom-module>
