<link rel="import" href="guild-field.html">

<dom-module id="guild-fields">
  <template>
    <style>
     .field-cell {
         padding-bottom: 20px;
     }
    </style>
    <div class="row">
      <template is="dom-repeat" items="[[fields]]" as="field">
        <div class="field-cell col-12 col-sm-6 col-xl-4">
          <guild-field field="[[field]]"></guild-field>
        </div>
      </template>
    </fdiv>
  </template>
  <script>
   Polymer({
       is: "guild-fields",
       properties: {
           fields: {
               type: Array,
               value: [
                   {
                       label: "Validation Accuracy",
                       value: "98.80%",
                       color: "blue-700",
                       icon: "maps:my-location"
                   },
                   {
                       label: "Training Accuracy",
                       value: "100.00%",
                       color: "green-700",
                       icon: "maps:my-location"
                   },
                   {
                       label: "Steps",
                       value: "5,000,000",
                       color: "yellow-700",
                       icon: "av:repeat"
                   },
                   {
                       label: "Time",
                       value: "12:31:46",
                       color: "red-700",
                       icon: "device:access-time"
                   },
                   {
                       label: "Loss",
                       value: "1.231",
                       color: "orange-700",
                       icon: "av:shuffle"
                   }
               ]
           }
       }
   });
  </script>
</dom-module>
